---
---
<section class="mt-14">
  <h3 class="mb-2 mt-14 title-3" id="disposiciones-finales">DISPOSICIONES FINALES Y TRANSITORIAS</h3>

  <article class="mt-8">
    <h4 class="font-semibold text-base" id="disposicion-primera">Primera.-</h4>
    <p class="font-semibold mb-2">Vigencia de la Ley Nº 25103 y del D.S. Nº 296-90-EF</p>
    <p class="mt-2">
      Mantiene su vigencia la Ley Nº 25103, en cuanto no se oponga a este Código, así como el Decreto Supremo Nº 296-90-EF, del 4 de noviembre de 1990.
    </p>
  </article>

  <article class="mt-8">
    <h4 class="font-semibold text-base" id="disposicion-segunda">Segunda.-</h4>
    <p class="font-semibold mb-2">Tráfico Ilícito de Drogas y Terrorismo - Vigencia de beneficios</p>
    <p class="mt-2">
      Continúan vigentes las disposiciones legales que restringen los beneficios procesales y de ejecución penal, respecto de los agentes de delitos de tráfico ilícito de drogas y terrorismo, en cuanto no se opongan a este Código.
    </p>
  </article>

  <article class="mt-8">
    <h4 class="font-semibold text-base" id="disposicion-tercera">Tercera.-</h4>
    <p class="font-semibold mb-2">Consejo local de patronato - Entrega de bienes bajo inventario</p>
    <p class="mt-2">
      El Consejo Local de Patronato, regulado por los artículos 402º al 407º del Código Penal de 1924, entregará, bajo inventario, los bienes que administra a la respectiva Corte Superior. Los fondos en dinero se entregarán al Instituto Nacional Penitenciario para su administración.
    </p>
  </article>

  <article class="mt-8">
    <h4 class="font-semibold text-base" id="disposicion-cuarta">Cuarta.-</h4>
    <p class="font-semibold mb-2">Conversión de condenas. Reglas</p>
    <p class="mt-2">Las condenas impuestas por sentencias firmes, durante la vigencia del anterior Código Penal, se sujetan a las siguientes reglas:</p>
    <p class="mt-2">1. Las sentencias a pena de internamiento con mínimo de veinticinco años, se convierten en pena privativa de libertad de veinticinco años.</p>
    <p class="mt-2">2. Las sentencias a penas de prisión o penitenciaría se convierten en penas privativas de libertad con los mismos límites señalados en las respectivas condenas.</p>
    <p class="mt-2">3. Las sentencias a penas de relegación relativamente indeterminada y absolutamente indeterminada, se convierten en pena privativa de libertad cuya duración queda limitada al extremo mínimo de las penas impuestas.</p>
    <p class="mt-2">4. Las sentencias a penas de inhabilitación de duración indeterminada o perpetua, se convierten en inhabilitación de cinco años; y las de inhabilitación a tiempo fijo que exceden de cinco años se reducen a ese límite.</p>
    <p class="mt-2">5. Las sentencias a pena de multa, fijada conforme a leyes especiales, conservan sus efectos.</p>
    <p class="mt-2">6. Los condenados como reincidentes o habituales, conforme a los artículos 111 al 116 del Código Penal de 1924, serán liberados al cumplir la mitad de la pena de prisión o penitenciaría; o la mitad del mínimo de la pena de relegación.</p>
  </article>

  <article class="mt-8">
    <h4 class="font-semibold text-base" id="disposicion-quinta">Quinta.-</h4>
    <p class="mt-2">
      Los delitos de terrorismo se regirán por sus leyes especiales.
    </p>
    <p class="mt-2">(*) Disposición incorporada por el artículo 7 de la Ley Nº 26926, publicada el 21 de febrero de 1998.</p>
  </article>
</section>
