---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Principio de Proporcionalidad"
  id="articulo-73"
  label="Artículo 73.-"
>
  <span slot="lead">Las medidas de seguridad deben ser proporcionales con la peligrosidad delictual del agente, la gravedad del hecho cometido y los que probablemente cometiera si no fuese tratado.</span>
</ArticleBlock>
