---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Revocación de la conversión por la comisión de delito doloso"
  id="articulo-54"
  label="Artículo 54.-"
>
  <span slot="lead">Cuando el condenado cometa, dentro del plazo de ejecución de la pena convertida según el artículo 52, un delito doloso sancionado en la ley con pena privativa de libertad no menor de tres años, la conversión quedará revocada automáticamente y así será declarada en la nueva sentencia condenatoria.</span>
  <p class="mt-2">Efectuando el descuento correspondiente a la parte de pena convertida que hubiese sido ejecutada antes de la revocatoria, conforme a las equivalencias indicadas en el artículo 53, el condenado cumplirá la pena privativa de libertad que resta de la primera sentencia y la que le fuere impuesta por el nuevo delito.</p>
</ArticleBlock>
