---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Enriquecimiento ilícito"
  id="articulo-401"
  label="Artículo 401.-"
>
  <span slot="lead">
    El funcionario o servidor público que, abusando de su cargo, incrementa ilícitamente su patrimonio respecto de sus ingresos legítimos será reprimido con pena privativa de libertad no menor de cinco ni mayor de diez años; inhabilitación, según corresponda, conforme a los incisos 1, 2 y 8 del artículo 36; y, con trescientos sesenta y cinco a setecientos treinta días-multa.
  </span>
  <p class="mt-2">
    Si el agente es un funcionario público que ha ocupado cargos de alta dirección en las entidades, organismos o empresas del Estado, o está sometido a la prerrogativa del antejuicio y la acusación constitucional, será reprimido con pena privativa de libertad será no menor de diez ni mayor de quince años; inhabilitación, según corresponda, conforme a los incisos 1, 2 y 8 del artículo 36; y, con trescientos sesenta y cinco a setecientos treinta días-multa.
  </p>
  <p class="mt-2">
    Se considera que existe indicio de enriquecimiento ilícito cuando el aumento del patrimonio o del gasto económico personal del funcionario o servidor público, en consideración a su declaración jurada de bienes y rentas, es notoriamente superior al que normalmente haya podido tener en virtud de sus sueldos o emolumentos percibidos o de los incrementos de su capital o de sus ingresos por cualquier otra causa lícita.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1243, publicado el 22 de octubre de 2016.</p>
</ArticleBlock>
