---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Aplicación extensiva"
  id="articulo-257"
  label="Artículo 257.-"
>
  <span slot="lead">
    Las disposiciones de los artículos de este Capítulo se hacen extensivas a los billetes, monedas, valores y títulos valores de otros países.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley Nº 27593, publicada el 13 de diciembre de 2001.</p>
</ArticleBlock>
