---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Duración de la inhabilitación principal"
  id="articulo-38"
  label="Artículo 38.-"
>
  <span slot="lead">La inhabilitación principal se extiende de seis meses a diez años, salvo los supuestos de incapacidad definitiva a que se refieren los numerales 6, 7 y 9 del <a href="#articulo-36">artículo 36</a> y los supuestos del <a href="#articulo-426">artículo 426</a> del Código Penal; en el artículo 4-A del Decreto Ley 25475 y en los artículos 1, 2, 3 y 4 del Decreto Legislativo 1106.</span>
  <p class="mt-2">“(*) Artículo modificado por el artículo 2 de la Ley N° 31178, publicada el 28 de abril 2021.”</p>
</ArticleBlock>
