---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Incomunicabilidad en las circunstancias de participación"
  id="articulo-26"
  label="Artículo 26.-"
>
  <span slot="lead">Las circunstancias y cualidades que afecten la responsabilidad de algunos de los autores y partícipes no modifican las de los otros autores o partícipes del mismo hecho punible.</span>
</ArticleBlock>
