---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Manipulación en estado de ebriedad o drogadicción"
  id="articulo-274-a"
  label="Artículo 274-A.-"
>
  <span slot="lead">
    El que encontrándose en estado de ebriedad, con presencia de alcohol en la sangre en proporción mayor de 0.5 gramos-litro, o bajo el efecto de estupefacientes, drogas tóxicas, sustancias psicotrópicas o sintéticas, opera o maniobra instrumento, herramienta, máquina u otro análogo que represente riesgo o peligro, será reprimido con pena privativa de la libertad no menor de seis meses ni mayor de un año o treinta días-multa como mínimo a cincuenta días-multa como máximo e inhabilitación, conforme al artículo <a href="#articulo-36">36</a>, inciso 4).
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley N° 29439, publicada el 19 de noviembre de 2009.</p>
</ArticleBlock>
