---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Calumnia"
  id="articulo-131"
  label="Artículo 131.-"
>
  <span slot="lead">El que atribuye falsamente a otro un delito, será reprimido con noventa a ciento veinte días-multa.</span>
</ArticleBlock>
