---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Retardo injustificado de pago"
  id="articulo-390"
  label="Artículo 390.-"
>
  <span slot="lead">
    El funcionario o servidor público que, teniendo fondos expeditos, demora injustificadamente un pago ordinario o decretado por la autoridad competente, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
