---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Comisión de delito por culpa del agente"
  id="articulo-210"
  label="Artículo 210.-"
>
  <span slot="lead">Si el agente realiza por culpa alguna de las conductas descritas en el artículo <a href="#articulo-209">209</a>, los límites máximo y mínimo de las penas privativas de libertad e inhabilitación se reducirán en una mitad.</span>
  <p class="mt-2">(*) Artículo modificado por la octava disposición final de la Ley Nº 27146, publicada el 24 de junio de 1999.</p>
</ArticleBlock>
