---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cobro indebido"
  id="articulo-383"
  label="Artículo 383.-"
>
  <span slot="lead">
    El funcionario o servidor público que, abusando de su cargo, exige o hace pagar o entregar contribuciones o emolumentos no debidos o en cantidad que excede a la tarifa legal, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años e inhabilitación, según corresponda, conforme a los incisos 1, 2 y 8 del artículo <a href="#articulo-36">36</a>.
  </span>
  <p class="mt-2">
    (*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1243, publicado el 22 de octubre de 2016.
  </p>
</ArticleBlock>
