---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Duración de las penas limitativas de derechos como penas sustitutas"
  id="articulo-33"
  label="Artículo 33.-"
>
  <span slot="lead">La duración de las penas de prestación de servicios a la comunidad y limitativa de días libres se fijará, cuando se apliquen como sustitutivas de la pena privativa de libertad, de acuerdo con las equivalencias establecidas en el artículo 52.</span>
</ArticleBlock>
