---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-270"
  label="Artículo 270.-"
>
  <span slot="lead">(*) Artículo derogado por el artículo segundo del Decreto Ley Nº 25495, publicado el 14 de mayo de 1992.</span>
</ArticleBlock>
