---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ejercicio de la acción penal"
  id="articulo-158"
  label="Artículo 158.-"
>
  <span slot="lead">Los delitos previstos en este Capítulo son perseguibles por acción privada, salvo en el caso del delito previsto en los artículos <a href="#articulo-154-A">154-A</a>, <a href="#articulo-154-B">154-B</a> y <a href="#articulo-155">155</a>. (*) Artículo modificado por el artículo 3 del Decreto Legislativo N° 1625, publicado el 8 de agosto de 2024.</span>
</ArticleBlock>
