---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Abuso del poder económico"
  id="articulo-232"
  label="Artículo 232.-"
>
  <span slot="lead">El que participa en acuerdo o práctica anticompetitiva sujeto a una prohibición absoluta establecida en el Decreto Legislativo 1034, Decreto Legislativo que aprueba la Ley de Represión de Conductas Anticompetitivas, o norma que lo sustituya, con el objeto de impedir, restringir o distorsionar la libre competencia, será reprimido con una pena privativa de libertad no menor de dos ni mayor de seis años, con ciento ochenta a trescientos sesenta y cinco díasmulta e inhabilitación conforme al artículo 36, incisos 2 y 4.</span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 31775, publicada el 7 de junio de 2023.</p>
</ArticleBlock>
