---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Instigación"
  id="articulo-24"
  label="Artículo 24.-"
>
  <span slot="lead">El que, dolosamente, determina a otro a cometer el hecho punible será reprimido con la pena que corresponde al autor.</span>
</ArticleBlock>
