---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Leyes temporales"
  id="articulo-8"
  label="Artículo 8.-">
  <span slot="lead">Las leyes destinadas a regir sólo durante un tiempo determinado se aplican a todos los hechos cometidos durante su vigencia, aunque ya no estuvieren en vigor, salvo disposición en contrario.</span>
</ArticleBlock>
