---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Reducción de los plazos de prescripción"
  id="articulo-81"
  label="Artículo 81.-"
>
  <span slot="lead">Los plazos de prescripción se reducen a la mitad cuando el agente tenía menos de veintiún o más de sesenticinco años al tiempo de la comisión del hecho punible.</span>
</ArticleBlock>
