---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Reserva del fallo condenatorio. Circunstancias y requisitos"
  id="articulo-62"
  label="Artículo 62.-"
>
  <span slot="lead">El juez puede disponer la reserva del fallo condenatorio siempre que de las circunstancias individuales, verificables al momento de la expedición de la sentencia, pueda colegir que el agente no cometerá nuevo delito.</span>
  <p class="mt-2">Los pronósticos favorables sobre la conducta futura del sentenciado que formule la autoridad judicial requieren de debida motivación.</p>
  <p class="mt-2">La reserva está dispuesta en los siguientes casos:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Cuando el delito está sancionado con pena privativa de libertad no mayor de cuatro años o con multa;</li>
    <li>Cuando la pena a imponerse no supere las noventa jornadas de prestación de servicios a la comunidad o de limitación de días libres;</li>
    <li>Cuando la pena a imponerse no supere los dos años de inhabilitación.</li>
  </ol>
  <p class="mt-2">Excepcionalmente, puede aplicarse lo establecido en el presente artículo cuando la condena se refiera a pena privativa de libertad no mayor de siete años y el autor o partícipe del delito carezca de antecedentes penales y sea menor de 25 años al momento de cometer el delito. Para este supuesto es aplicable lo previsto en el primer párrafo, exigiéndose una motivación reforzada.</p>
  <p class="mt-2">El plazo de reserva del fallo condenatorio es de uno a tres años, contado desde que la decisión adquiere calidad de cosa juzgada. En caso de la excepción prevista en el párrafo anterior el plazo de suspensión puede extenderse hasta seis (6) años.” (*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1585, publicado el 22 de noviembre de 2023.</p>
</ArticleBlock>
