---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Falseamiento de la información sobre aportaciones, ingresos y gastos de organizaciones políticas"
  id="articulo-359-b"
  label="Artículo 359-B.-"
>
  <span slot="lead">
    El tesorero, el responsable de campaña, el representante legal, el administrador de hecho o de derecho, o el miembro de la organización política que, con pleno conocimiento, proporciona información falsa en los informes sobre aportaciones e ingresos recibidos o en aquellos referidos a los gastos efectivos de campaña electoral o en la información financiera anual que se entrega a la entidad supervisora será reprimido con pena privativa de libertad no menor de dos ni mayor de seis años e inhabilitación conforme al artículo <a href="#articulo-36">36</a>, incisos 1, 2, 3 y 4, del Código Penal.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley N° 30997, publicada el 27 de agosto de 2019.</p>
</ArticleBlock>
