---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Requisitos para la aplicación"
  id="articulo-72"
  label="Artículo 72.-"
>
  <span slot="lead">Las medidas de seguridad se aplicarán en concurrencia con las circunstancias siguientes:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Que el agente haya realizado un hecho previsto como delito; y</li>
    <li>Que del hecho y de la personalidad del agente pueda deducirse un pronóstico de comportamiento futuro que revele una elevada probabilidad de comisión de nuevos delitos.</li>
  </ol>
</ArticleBlock>
