---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Artículo 122-A"
  id="articulo-122-A"
  label="Artículo 122-A.-"
>
  <span slot="lead">(*) Artículo derogado por la primera disposición complementaria derogatoria de la Ley N° 30364, publicada el 23 de noviembre de 2015.</span>
</ArticleBlock>
