---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Excusa absolutoria. Exención de pena"
  id="articulo-208"
  label="Artículo 208.-"
>
  <span slot="lead">No son reprimibles, sin perjuicio de la reparación civil, los hurtos, apropiaciones, defraudaciones o daños que se causen:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Los cónyuges, concubinos, ascendientes, descendientes y afines en línea recta.</li>
    <li>El consorte viudo, respecto de los bienes de su difunto cónyuge, mientras no hayan pasado a poder de tercero.</li>
    <li>Los hermanos y cuñados, si viviesen juntos.</li>
  </ol>
  <p class="mt-2">La excusa absolutoria no se aplica cuando el delito se comete en contextos de violencia contra las mujeres o integrantes del grupo familiar. (*) Artículo modificado por el artículo 1 del Decreto Legislativo N° 1323, publicado el 6 de enero de 2017.</p>
</ArticleBlock>
