---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Rehusamiento a prestar información económica, industrial o comercial"
  id="articulo-242"
  label="Artículo 242.-"
>
  <span slot="lead">El director, administrador o gerente de una empresa que, indebidamente, rehusa suministrar a la autoridad competente la información económica, industrial o mercantil que se le requiera, o deliberadamente presta la información de modo inexacto, será reprimido con pena privativa de libertad no mayor de dos años o con noventa a ciento ochenta días-multa.</span>
</ArticleBlock>
