---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Artículo derogado"
  id="articulo-443"
  label="Artículo 443.-"
>
  <span slot="lead">
    (*) Artículo derogado por la única disposición complementaria derogatoria de la Ley N° 30819, publicada el 13 de julio de 2018.
  </span>
</ArticleBlock>
