---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Responsabilidad restringida"
  id="articulo-21"
  label="Artículo 21.-"
>
  <span slot="lead">En los casos del <a href="#articulo-20">artículo 20</a>, cuando no concurra alguno de los requisitos necesarios para hacer desaparecer totalmente la responsabilidad, el Juez podrá disminuir prudencialmente la pena hasta límites inferiores al mínimo legal.</span>
  <p class="mt-2">“Si la persona que repele la agresión ilegítima hubiera hecho uso de un arma de fuego inscrita legalmente a su nombre, esta será incautada dentro de las 48 horas que requiera la autoridad para las investigaciones preliminares bajo responsabilidad.” (*) Párrafo incorporado por el artículo 2 de la Ley N° 32026, publicada el 16 de mayo de 2024.</p>
</ArticleBlock>
