---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Organización criminal"
  id="articulo-317"
  label="Artículo 317.-"
>
  <span slot="lead">
    El que organice, constituya o integre una organización criminal será reprimido con pena privativa de libertad no menor de ocho ni mayor de quince años y con ciento ochenta a trescientos sesenta y cinco días-multa, e inhabilitación conforme al artículo 36, numerales 1), 2), 4) y 8).
  </span>
  <p class="mt-2">
    Se considera organización criminal a todo grupo con compleja estructura desarrollada y mayor capacidad operativa compuesto por tres o más personas con carácter permanente o por tiempo indefinido que, de manera concertada y coordinada, se reparten roles correlacionados entre sí, para la comisión de delitos de extorsión, secuestro, sicariato y otros delitos sancionados con pena privativa de libertad igual o mayor de cinco años en su extremo mínimo, con el fin de obtener, directa o indirectamente, un beneficio económico u otro de orden material.
  </p>
  <p class="mt-2">(*) Numeral modificado por el artículo 1 de la Ley N° 32138, publicada el 19 de octubre de 2024.</p>
  <p class="mt-2">
    La pena será no menor de quince ni mayor de veinte años y con ciento ochenta a trescientos sesenta y cinco días-multa, e inhabilitación conforme al artículo 36, numerales 1), 2), 4) y 8) en los siguientes supuestos:
  </p>
  <p class="mt-2">
    a) Cuando el agente tiene la condición de líder, jefe, financista o dirigente de la organización criminal. Cuando producto del accionar delictivo de la organización criminal, cualquiera de sus miembros causa la muerte de una persona o le causa lesiones graves a su integridad física o mental.
  </p>
  <p class="mt-2">
    b) Cuando el agente se identifique, haga uso o se valga de marcas, señales, objetos, códigos, nombre o seudónimo de una organización criminal nacional, internacional o trasnacional, con fines de intimidación, prevalencia o hegemonía de la actividad criminal a la que se dedica.
  </p>
  <p class="mt-2">
    c) Cuando los integrantes o la comisión de los delitos graves o los beneficios obtenidos por la organización criminal tienen carácter trasnacional.
  </p>
  <p class="mt-2">
    d) Cuando el agente ha desarrollado la actividad criminal de la organización criminal desde un establecimiento penitenciario y/o a través de cualquier tecnología de la información o de la comunicación o cualquier otro medio análogo.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 32108, publicado el 9 de agosto de 2024.</p>
</ArticleBlock>
