---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ejercicio malicioso y desleal de la medicina"
  id="articulo-291"
  label="Artículo 291.-"
>
  <span slot="lead">
    El que, teniendo título, anuncia o promete la curación de enfermedades a término fijo o por medios secretos o infalibles, será reprimido con pena privativa de libertad no mayor de dos años o con prestación de servicio comunitario de veinte a cincuentidós jornadas.
  </span>
</ArticleBlock>
