---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Medidas cautelares"
  id="articulo-314-c"
  label="Artículo 314-C.-"
>
  <span slot="lead">
    Sin perjuicio de lo ordenado por la autoridad administrativa, el Juez dispondrá la suspensión inmediata de la actividad contaminante, extractiva o depredatoria, así como las otras medidas cautelares que correspondan.
  </span>
  <p class="mt-2">
    En los delitos previstos en este Título, el Juez procederá a la incautación previa de los especímenes presuntamente ilícitos y de los aparatos o medios utilizados para la comisión del presunto ilícito.
  </p>
  <p class="mt-2">
    Asimismo, el Juez, a solicitud del Ministerio Público, ordenará el allanamiento o descerraje del lugar donde presuntamente se estuviere cometiendo el ilícito penal.
  </p>
  <p class="mt-2">
    En caso de emitirse sentencia condenatoria, los especímenes ilícitos podrán ser entregados a una institución adecuada, según recomendación de la autoridad competente, y en caso de no corresponder, serán destruidos.
  </p>
  <p class="mt-2">En ningún caso procederá la devolución de los ejemplares ilícitos al encausado.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 3 de la Ley N° 29263, publicada el 2 de octubre de 2008.</p>
</ArticleBlock>
