---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Afectación al sistema de vigilancia electrónica personal"
  id="articulo-413-a"
  label="Artículo 413-A.-"
>
  <span slot="lead">
    El que, estando legalmente procesado o condenado bajo la aplicación de vigilancia electrónica personal, daña, destruye, inutiliza el dispositivo electrónico que porta, o bloquea o altera su funcionamiento, para dificultar su ubicación, sustraerse de la persecución penal o a la ejecución de una pena o de otra medida ordenada por la justicia, será reprimido con pena privativa de la libertad no menor de dos ni mayor de cuatro años.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 8 del Decreto Legislativo N° 1585, publicado el 22 de noviembre de 2023.</p>
</ArticleBlock>
