---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Violencia contra la autoridad para obligarle a algo"
  id="articulo-365"
  label="Artículo 365.-"
>
  <span slot="lead">
    El que, sin alzamiento público, mediante violencia o amenaza, impide a una autoridad o a un funcionario o servidor público ejercer sus funciones o le obliga a practicar un determinado acto de sus funciones o le estorba en el ejercicio de éstas, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
