---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Daño simple"
  id="articulo-205"
  label="Artículo 205.-"
>
  <span slot="lead">El que daña, destruye o inutiliza un bien, mueble o inmueble, total o parcialmente ajeno, será reprimido con pena privativa de libertad no mayor de tres años y con treinta a sesenta días- multa. (*) Artículo modificado por el artículo 1 de la Ley Nº 30076, publicada el 19 de agosto de 2013.</span>
</ArticleBlock>
