---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-334"
  label="Artículo 334.-"
>
  <span slot="lead">(*) Artículo derogado por el artículo 4 de la Ley N° 29460, publicada el 27 de noviembre de 2009.</span>
</ArticleBlock>
