---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Retroactividad benigna"
  id="articulo-7"
  label="Artículo 7.-">
  <span slot="lead">Si, según la nueva ley, el hecho sancionado en una norma anterior deja de ser punible, la pena impuesta y sus efectos se extinguen de pleno derecho.</span>
</ArticleBlock>
