---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-184-A"
  label="Artículo 184-A.-"
>
  <span slot="lead">El juez impone como pena principal la inhabilitación prevista en el artículo <a href="#articulo-36">36</a> del presente Código, según corresponda.</span>
  <p class="mt-2">En los delitos comprendidos en los capítulos IX, X y XI del presente título, el juzgado penal aplica, de oficio o a pedido de parte, la suspensión y extinción de la patria potestad conforme con los artículos 75 y 77 del Código de los Niños y Adolescentes, según corresponda al momento procesal.</p>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley N° 30838, publicada el 4 de agosto de 2018.</p>
</ArticleBlock>
