---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Duración de la internación"
  id="articulo-75"
  label="Artículo 75.-"
>
  <span slot="lead">La duración de la medida de internación no podrá exceder el tiempo de duración de la pena privativa de libertad que hubiera correspondido aplicarse por el delito cometido.</span>
  <p class="mt-2">Sin perjuicio de que el Juez lo solicite cada seis meses, la autoridad del centro de internación deberá remitir al Juez una pericia médica a fin de darle a conocer si las causas que hicieron necesaria la aplicación de la medida han desaparecido.</p>
  <p class="mt-2">En este último caso, el Juez hará cesar la medida de internación impuesta.</p>
</ArticleBlock>
