---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-398-b"
  label="Artículo 398-B.-"
>
  <span slot="lead">
    En los supuestos del artículo 398-A, cuando el agente corrompa a un miembro de la Policía Nacional en el ejercicio sus funciones, siempre que éstas correspondan al tránsito o seguridad vial, se le impondrá además inhabilitación consistente en la cancelación o incapacidad definitiva, según sea el caso, para obtener autorización para conducir, de conformidad con el inciso 7 del artículo <a href="#articulo-36">36</a>.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 3 del Decreto Legislativo N° 1351, publicado el 7 de enero de 2017.</p>
</ArticleBlock>
