---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Falsedad ideológica"
  id="articulo-428"
  label="Artículo 428.-"
>
  <span slot="lead">
    El que inserta o hace insertar, en instrumento público, declaraciones falsas concernientes a hechos que deban probarse con el documento, con el objeto de emplearlo como si la declaración fuera conforme a la verdad, será reprimido, si de su uso puede resultar algún perjuicio, con pena privativa de libertad no menor de tres ni mayor de seis años y con ciento ochenta a trescientos sesenticinco días-multa.
  </span>
  <p class="mt-2">
    El que hace uso del documento como si el contenido fuera exacto, siempre que de su uso pueda resultar algún perjuicio, será reprimido, en su caso, con las mismas penas.
  </p>
</ArticleBlock>
