---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Concepto"
  id="articulo-41"
  label="Artículo 41.-"
>
  <span slot="lead">La pena de multa obliga al condenado a pagar al Estado una suma de dinero fijada en días-multa.</span>
  <p class="mt-2">El importe del día-multa es equivalente al ingreso promedio diario del condenado y se determina atendiendo a su patrimonio, rentas, remuneraciones, nivel de gasto y demás signos exteriores de riqueza.</p>
</ArticleBlock>
