---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Depredación de flora y fauna silvestre"
  id="articulo-308-c"
  label="Artículo 308-C.-"
>
  <span slot="lead">
    El que caza, captura, colecta, extrae o posee productos, raíces o especímenes de especies de flora y/o fauna silvestre, sin contar con la concesión, permiso, licencia o autorización u otra modalidad de aprovechamiento o extracción, otorgada por la autoridad competente, será reprimido con pena privativa de libertad no menor de tres años ni mayor de cinco años y con cincuenta a cuatrocientos días-multa.
  </span>
  <p class="mt-2">
    (*) Artículo modificado por el artículo único del Decreto Legislativo N° 1237, publicado el 26 de setiembre de 2015.
  </p>
</ArticleBlock>
