---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-307-f"
  label="Artículo 307-F.-"
>
  <span slot="lead">
    El agente de los delitos previstos en los artículos 307-A, 307-B, 307-C, 307-D y 307-E, será además sancionado, de conformidad con el artículo 36, inciso 4, con la pena de inhabilitación para obtener, a nombre propio o a través de terceros, concesiones mineras, de labor general, de beneficio o transporte de minerales metálicos o no metálicos, así como para su comercialización, por un periodo igual al de la pena principal.
  </span>
  <p class="mt-2">
    (*) Artículo incorporado por el artículo primero del Decreto Legislativo Nº 1102, publicado el 29 de febrero de 2012.
  </p>
</ArticleBlock>
