---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tráfico ilegal de especies de flora y fauna silvestre"
  id="articulo-308"
  label="Artículo 308.-"
>
  <span slot="lead">
    El que adquiere, vende, transporta, almacena, importa, exporta o reexporta productos o especímenes de especies de flora silvestre no maderable y/o fauna silvestre, sin un permiso o certificado válido, cuyo origen no autorizado conoce o puede presumir, será reprimido con pena privativa de libertad no menor de tres años ni mayor de cinco años y con ciento ochenta a cuatrocientos días-multa.
  </span>
  <p class="mt-2">
    (*) Artículo modificado por el artículo único del Decreto Legislativo N° 1237, publicado el 26 de setiembre de 2015.
  </p>
</ArticleBlock>
