---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Responsabilidad solidaria"
  id="articulo-95"
  label="Artículo 95.-"
>
  <span slot="lead">La reparación civil es solidaria entre los responsables del hecho punible y los terceros civilmente obligados.</span>
</ArticleBlock>
