---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ocultamiento de menor a las investigaciones"
  id="articulo-403"
  label="Artículo 403.-"
>
  <span slot="lead">
    El que oculta a un menor de edad a las investigaciones de la justicia o de la que realiza la autoridad competente, será reprimido con pena privativa de libertad no menor de uno ni mayor de tres años.
  </span>
</ArticleBlock>
