---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Contabilidad paralela"
  id="articulo-199"
  label="Artículo 199.-"
>
  <span slot="lead">El que, con la finalidad de obtener ventaja indebida, mantiene contabilidad paralela distinta a la exigida por la ley, será reprimido con pena privativa de libertad no menor de dos ni mayor de cinco años y con ciento ochenta a trescientos sesenta y cinco días-multa. (*) Artículo modificado por el artículo 1 de la Ley N° 31501, publicada el 29 de junio de 2022.</span>
</ArticleBlock>
