---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Banda criminal"
  id="articulo-317-b"
  label="Artículo 317-B.-"
>
  <span slot="lead">
    El que constituya o integre una unión de dos a más personas; que sin reunir alguna o algunas de las características de la organización criminal dispuestas en el artículo 317, tenga por finalidad o por objeto la comisión de delitos concertadamente, será reprimidos con una pena privativa de libertad de no menor de cuatro ni mayor de ocho años y con ciento ochenta a trescientos sesenta y cinco días - multa.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 3 del Decreto Legislativo N° 1244, publicado el 29 de octubre de 2016.</p>
</ArticleBlock>
