---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-318-b"
  label="Artículo 318-B.-"
>
  <span slot="lead">
    El que mediante el uso de municiones, armamento de fuego militar o civil, artefactos explosivos u otros de similar características, provoque o realice conductas tipificadas como delitos de secuestro, extorsión, sicariato, homicidio calificado y robo agravado, creando zozobra o terror en la población o una parte de ella, será reprimido con cadena perpetua.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo único de la Ley Nº 32446, publicado el 22 de setiembre de 2025.</p>
</ArticleBlock>
