---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Participación de varios agentes en la tentativa"
  id="articulo-19"
  label="Artículo 19.-">
  <span slot="lead">Si varios agentes participan en el hecho, no es punible la tentativa de aquél que voluntariamente impidiera el resultado, ni la de aquél que se esforzara seriamente por impedir la ejecución del delito aunque los otros partícipes prosigan en su ejecución o consumación.</span>
</ArticleBlock>
