---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Productos destinados a la elusión de medidas tecnológicas"
  id="articulo-220-B"
  label="Artículo 220-B.-"
>
  <span slot="lead">El que, con fines de comercialización u otro tipo de ventaja económica, fabrique, importe, distribuya, ofrezca al público, proporcione o de cualquier manera comercialice dispositivos, productos o componentes destinados principalmente a eludir una medida tecnológica que utilicen los productores de fonogramas, artistas intérpretes o ejecutantes, así como los autores de cualquier obra protegida por derechos de propiedad intelectual, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años y de sesenta a ciento veinte días- multa. (*) Artículo modificado por el artículo 1 de la Ley N° 32314, publicada el 29 de abril de 2025.</span>
</ArticleBlock>
