---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Forma culposa"
  id="articulo-282"
  label="Artículo 282.-"
>
  <span slot="lead">
    El que, por culpa, ocasiona alguno de los hechos de peligro previstos en los artículos 280 y 281 será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
