---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Desistimiento voluntario - Arrepentimiento activo"
  id="articulo-18"
  label="Artículo 18.-">
  <span slot="lead">Si el agente desiste voluntariamente de proseguir los actos de ejecución del delito o impide que se produzca el resultado, será penado sólo cuando los actos practicados constituyen por sí otros delitos.</span>
</ArticleBlock>
