---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Difamación"
  id="articulo-132"
  label="Artículo 132.-"
>
  <span slot="lead">El que, ante varias personas, reunidas o separadas, pero de manera que pueda difundirse la noticia, atribuye a una persona, un hecho, una cualidad o una conducta que pueda perjudicar su honor o reputación, será reprimido con pena privativa de libertad no mayor de dos años y con treinta a ciento veinte días-multa.</span>
  <p class="mt-2">Si la difamación se refiere al hecho previsto en el artículo <a href="#articulo-131">131</a>, la pena será privativa de libertad no menor de uno ni mayor de dos años y con noventa a ciento veinte días-multa.</p>
  <p class="mt-2">“Si el delito se comete por medio del libro, la prensa u otro medio de comunicación social, o mediante tecnologías de inteligencia artificial, falsificaciones profundas (‘deepfakes’) u otros contenidos generados mediante inteligencia artificial que difundan información falsa o denigrante que cause daño a la reputación o a la imagen, la pena será privativa de libertad no menor de uno ni mayor de tres años y de ciento veinte a trescientos sesenticinco días-multa.” (*) Párrafo modificado por el artículo 1 de la Ley N° 32314, publicada el 29 de abril de 2025.</p>
</ArticleBlock>
