---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Colaboración al delito de disturbios"
  id="articulo-315-b"
  label="Artículo 315-B.-"
>
  <span slot="lead">
    Será reprimido con pena privativa de libertad no menor de cuatro ni mayor a seis años, el que de manera voluntaria realiza los siguientes actos de colaboración favoreciendo la comisión del delito de disturbios:
  </span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>
      a) Provee cualquier bien mueble, objeto o instrumento que, específicamente coadyuve o facilite las actividades de los agentes del delito de disturbios.
    </li>
    <li>
      b) Aporta recursos financieros o económicos para la adquisición de bienes muebles que coadyuven o faciliten las actividades de los agentes del delito de disturbios.
    </li>
  </ol>
  <p class="mt-2">(*) Artículo incorporado por el artículo 3 del Decreto Legislativo N° 1589, publicado en Edición Extraordinaria el 4 de diciembre de 2023.</p>
</ArticleBlock>
