---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Abandono de servicio de transporte"
  id="articulo-284"
  label="Artículo 284.-"
>
  <span slot="lead">
    El conductor, capitán, comandante, piloto, técnico, maquinista o mecánico de cualquier medio de transporte, que abandona su respectivo servicio antes del término del viaje, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
