---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Principio de Igualdad"
  id="articulo-10"
  label="Artículo 10.-"
>
  <span slot="lead">La Ley Penal se aplica con igualdad. Las prerrogativas que por razón de la función o cargo se reconocen a ciertas personas habrán de estar taxativamente previstas en las leyes o tratados internacionales.</span>
</ArticleBlock>
