---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cohecho pasivo propio en el ejercicio de la función policial o penitenciaria"
  id="articulo-395-a"
  label="Artículo 395-A.-"
>
  <span slot="lead">
    El miembro de la Policía Nacional o del Sistema Penitenciario que acepta o recibe donativo, promesa o cualquier otra ventaja o beneficio, para sí o para otro, para realizar u omitir un acto en violación de sus obligaciones derivadas de la función policial o penitenciaria, o el que las acepta a consecuencia de haber faltado a ellas, será sancionado con pena privativa de libertad no menor de seis ni mayor de doce años e inhabilitación conforme a los incisos 1, 2 y 8 del artículo 36.
  </span>
  <p class="mt-2">
    El miembro de la Policía Nacional o del Sistema Penitenciario que solicita, directa o indirectamente, donativo, promesa o cualquier otra ventaja o beneficio, para realizar u omitir un acto en violación de sus obligaciones derivadas de la función policial o penitenciaria, o a consecuencia de haber faltado a ellas, será reprimido con pena privativa de libertad no menor de seis ni mayor de diez años e inhabilitación conforme a los incisos 1, 2 y 8 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">
    El miembro de la Policía Nacional o del Sistema Penitenciario que condiciona su conducta funcional a la entrega o promesa de donativo o cualquier otra ventaja o beneficio, será reprimido con pena privativa de libertad no menor de ocho ni mayor de doce años e inhabilitación conforme a los incisos 1, 2 y 8 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por la primera disposición complementaria modificatoria del Decreto Legislativo N° 1688, publicado el 2 de octubre de 2024.
  </p>
</ArticleBlock>
