---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tentativa impune"
  id="articulo-17"
  label="Artículo 17.-">
  <span slot="lead">No es punible la tentativa cuando es imposible la consumación del delito, por la ineficacia absoluta del medio empleado o absoluta impropiedad del objeto.</span>
</ArticleBlock>
