---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Patrocinio ilegal"
  id="articulo-385"
  label="Artículo 385.-"
>
  <span slot="lead">
    El que, valiéndose de su calidad de funcionario o servidor público, patrocina intereses de particulares ante la administración pública, será reprimido con pena privativa de libertad no mayor de dos años o con prestación de servicio comunitario de veinte a cuarenta jornadas.
  </span>
</ArticleBlock>
