---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Efectos del incumplimiento"
  id="articulo-59"
  label="Artículo 59.-"
>
  <span slot="lead">Si durante el período de suspensión el condenado no cumpliera con las reglas de conducta impuestas o fuera condenado por otro delito, el Juez podrá, según los casos:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Amonestar al infractor;</li>
    <li>Prorrogar el período de suspensión hasta la mitad del plazo inicialmente fijado. En ningún caso la prórroga acumulada excederá de tres años; o</li>
    <li>Revocar la suspensión de la pena.</li>
  </ol>
</ArticleBlock>
