---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Falsa declaración en procedimiento administrativo"
  id="articulo-411"
  label="Artículo 411.-"
>
  <span slot="lead">
    El que, en un procedimiento administrativo, hace una falsa declaración en relación a hechos o circunstancias que le corresponde probar, violando la presunción de veracidad establecida por ley, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
