---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Condenado insolvente"
  id="articulo-98"
  label="Artículo 98.-"
>
  <span slot="lead">En caso que el condenado no tenga bienes realizables, el Juez señalará hasta un tercio de su remuneración para el pago de la reparación civil.</span>
</ArticleBlock>
