---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Encubrimiento real"
  id="articulo-405"
  label="Artículo 405.-"
>
  <span slot="lead">
    El que dificulta la acción de la justicia procurando la desaparición de las huellas o prueba del delito u ocultando los efectos del mismo, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años.
  </span>
  <p class="mt-2">
    Si el hecho se comete respecto a los delitos previstos en los artículos 152 al 153-A, 200, 273 al 279-D, 296 al 298, 315, 317, 318-A, 325 al 333; 346 al 350 o en el Decreto Ley Nº 25475 (Establecen la penalidad para los delitos de terrorismo o los procedimientos para la investigación, la instrucción y el juicio), la pena privativa de libertad será no menor de siete ni mayor de diez años y de ciento ochenta a trescientos sesenta y cinco días multa.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 982, publicado el 22 de julio de 2007.</p>
</ArticleBlock>
