---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Concurso ideal de delitos"
  id="articulo-48"
  label="Artículo 48.-"
>
  <span slot="lead">Cuando varias disposiciones son aplicables al mismo hecho se reprimirá hasta con el máximo de la pena más grave, pudiendo incrementarse ésta hasta en una cuarta parte, sin que en ningún caso pueda exceder de treinta y cinco años.” (*) Artículo modificado por el artículo 3 de la Ley N° 28726, publicada el 9 de mayo de 2006.</span>
</ArticleBlock>
