---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Penas limitativas de derechos - Clases"
  id="articulo-31"
  label="Artículo 31.-"
>
  <span slot="lead">Las penas limitativas de derechos son:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Prestación de servicios a la comunidad;</li>
    <li>Limitación de días libres; e</li>
    <li>Inhabilitación.</li>
  </ol>
</ArticleBlock>
