---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Extinción de la acción penal por sentencia civil"
  id="articulo-79"
  label="Artículo 79.-"
>
  <span slot="lead">Se extingue la acción penal si de la sentencia ejecutoriada dictada en la jurisdicción civil, resulte que el hecho imputado como delito es lícito.</span>
</ArticleBlock>
