---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-324"
  label="Artículo 324.-"
>
  <span slot="lead">
    Toda persona que haga uso de cualquier técnica de manipulación genética con la finalidad de clonar seres humanos, será reprimido con pena privativa de la libertad no menor de seis ni mayor de ocho años e inhabilitación conforme al Artículo <a href="#articulo-36">36</a>, incisos 4 y 8.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley Nº 27636, publicada el 16 de enero de 2002.</p>
</ArticleBlock>
