---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Marcas y sellos extranjeros equiparados a los nacionales"
  id="articulo-437"
  label="Artículo 437.-"
>
  <span slot="lead">
    Las disposiciones de este Capítulo son aplicables a los sellos, marcas oficiales y timbres de procedencia extranjera.
  </span>
</ArticleBlock>
