---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ejercicio privado de la acción penal"
  id="articulo-138"
  label="Artículo 138.-"
>
  <span slot="lead">En los delitos previstos en este Título sólo se procederá por acción privada.</span>
  <p class="mt-2">Si la injuria, difamación o calumnia ofende a la memoria de una persona fallecida, presuntamente muerta, o declarada judicialmente ausente o desaparecida, la acción penal podrá ser promovida o continuada por su cónyuge, ascendientes, descendientes o hermanos.</p>
</ArticleBlock>
