---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fingimiento de embarazo o parto"
  id="articulo-144"
  label="Artículo 144.-"
>
  <span slot="lead">La mujer que finge embarazo o parto, para dar a un supuesto hijo derechos que no le corresponden, será reprimida con pena privativa de libertad no menor de uno ni mayor de cinco años.</span>
  <p class="mt-2">La misma pena privativa de libertad y, además, inhabilitación de uno a tres años, conforme al Artículo <a href="#articulo-36">36</a> inciso 4, se aplicará al médico u obstetra que cooperen en la ejecución del delito.</p>
</ArticleBlock>
