---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Revocación de la suspensión de la pena"
  id="articulo-60"
  label="Artículo 60.-"
>
  <span slot="lead">La suspensión será revocada si dentro del plazo de prueba el agente es condenado por la comisión de un nuevo delito doloso cuya pena privativa de libertad sea superior a tres años; en cuyo caso se ejecutará la pena suspendida condicionalmente y la que corresponda por el segundo hecho punible.</span>
</ArticleBlock>
