---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Estragos especiales"
  id="articulo-276"
  label="Artículo 276.-"
>
  <span slot="lead">
    El que causa estragos por medio de inundación, desmoronamiento, derrumbe o por cualquier otro medio análogo, será reprimido conforme a la pena señalada en los artículos 273 y 275, según el caso.
  </span>
</ArticleBlock>
