---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Omisión de consignar declaraciones en documentos"
  id="articulo-429"
  label="Artículo 429.-"
>
  <span slot="lead">
    El que omite en un documento público o privado declaraciones que deberían constar o expide duplicados con igual omisión, al tiempo de ejercer una función y con el fin de dar origen a un hecho u obligación, será reprimido con pena privativa de libertad no menor de uno ni mayor de seis años.
  </span>
</ArticleBlock>
