---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Estragos especiales"
  id="articulo-276"
  label="Artículo 276.-"
>
  <span slot="lead">
    El que causa estragos por medio de inundación, desmoronamiento, derrumbe o por cualquier otro medio análogo, será reprimido conforme a la pena señalada en los artículos <a href="#articulo-273">273</a> y <a href="#articulo-275">275</a>, según el caso.
  </span>
</ArticleBlock>
