---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Instituciones financieras ilegales"
  id="articulo-246"
  label="Artículo 246.-"
>
  <span slot="lead">El que, por cuenta propia o ajena, se dedica directa o indirectamente a la captación habitual de recursos del público, bajo la forma de depósito, mutuo o cualquier modalidad, sin contar con permiso de la autoridad competente, será reprimido con pena privativa de libertad no menor de tres ni mayor de seis años y con ciento ochenta a trescientos sesenticinco días-multa.</span>
  <p class="mt-2">Si para dichos fines el agente hace uso de los medios de comunicación social, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de ocho años y con ciento ochenta a trescientos sesenticinco días-multa.</p>
</ArticleBlock>
