---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Casos de defraudación"
  id="articulo-197"
  label="Artículo 197.-"
>
  <span slot="lead">La defraudación será reprimida con pena privativa de libertad no menor de uno ni mayor de cuatro años y con sesenta a ciento veinte días-multa cuando:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Se realiza con simulación de juicio o empleo de otro fraude procesal.</li>
    <li>Se abusa de firma en blanco, extendiendo algún documento en perjuicio del firmante o de tercero.</li>
    <li>Si el comisionista o cualquier otro mandatario, altera en sus cuentas los precios o condiciones de los contratos, suponiendo gastos o exagerando los que hubiera hecho.</li>
    <li>Se vende o grava, como bienes libres, los que son litigiosos o están embargados o gravados y cuando se vende, grava o arrienda como propios los bienes ajenos.</li>
  </ol>
</ArticleBlock>
