---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Organización o participación en juegos prohibidos"
  id="articulo-448"
  label="Artículo 448.-"
>
  <span slot="lead">
    El que organiza o participa en juegos prohibidos por la ley, será reprimido hasta con sesenta días-multa.
  </span>
</ArticleBlock>
