---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Comercio clandestino de uniformes de la Policía Nacional del Perú o de las Fuerzas Armadas"
  id="articulo-272-a"
  label="Artículo 272-A.-"
>
  <span slot="lead">
    Será reprimido con pena privativa de libertad no menor de cuatro ni mayor de seis años, con el decomiso total, el que:
  </span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>a) Distribuye o comercializa, sin autorización, uniformes de la Policía Nacional del Perú o de las Fuerzas Armadas.</li>
    <li>
      b) Comercializa uniformes de la Policía Nacional del Perú o de las Fuerzas Armadas a personal policial o de la fuerza armada que no se encuentre debidamente identificado con el carné de identidad personal y la placa insignia correspondiente.
    </li>
    <li>c) Vende el uniforme de la Policía Nacional del Perú o de las Fuerzas Armadas a personas ajenas a dichas instituciones.</li>
  </ol>
  <p class="mt-2">
    (*) Artículo incorporado por la única disposición complementaria modificatoria de la Ley Nº 32329, publicada el 10 de mayo de 2025.
  </p>
</ArticleBlock>
