---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Robo"
  id="articulo-188"
  label="Artículo 188.-"
>
  <span slot="lead">El que se apodera ilegítimamente de un bien mueble total o parcialmente ajeno, para aprovecharse de él, sustrayéndolo del lugar en que se encuentra, empleando violencia contra la persona o amenazándola con un peligro inminente para su vida o integridad física será reprimido con pena privativa de libertad no menor de tres ni mayor de ocho años.</span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley Nº 27472, publicada el 5 de junio de 2001.</p>
</ArticleBlock>
