---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Posesión ilegítima de una SIM card u otro medio activado que esté asociado a una línea de servicio móvil"
  id="articulo-222-B"
  label="Artículo 222-B.-"
>
  <span slot="lead">El que provea, comercialice o facilite la adquisición de una SIM card u otro medio activado ilegalmente que esté asociado a una línea de servicio móvil será reprimido con pena privativa de libertad no menor de cinco ni mayor de nueve años y con inhabilitación conforme al numeral 4 del artículo 36 del Código Penal. Si el agente adquiere o posee el SIM card u otro medio activado ilegalmente que esté asociado a una línea de servicio móvil, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de ocho años. (*) Artículo modificado por el artículo 2 de la Ley N° 32451, publicada el 30 de setiembre de 2025.</span>
</ArticleBlock>
