---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Funcionario o servidor público"
  id="articulo-425"
  label="Artículo 425.-"
>
  <span slot="lead">
    Son funcionarios o servidores públicos:
  </span>
  <p class="mt-2">1. Los que están comprendidos en la carrera administrativa.</p>
  <p class="mt-2">2. Los que desempeñan cargos políticos o de confianza, incluso si emanan de elección popular.</p>
  <p class="mt-2">3. Todo aquel que, independientemente del régimen laboral en que se encuentre, mantiene vínculo laboral o contractual de cualquier naturaleza con entidades u organismos del Estado, incluidas las empresas del Estado o sociedades de economía mixta comprendidas en la actividad empresarial del Estado, y que en virtud de ello ejerce funciones en dichas entidades u organismos.</p>
  <p class="mt-2">4. Los administradores y depositarios de caudales embargados o depositados por autoridad competente, aunque pertenezcan a particulares.</p>
  <p class="mt-2">5. Los miembros de las Fuerzas Armadas y Policía Nacional.</p>
  <p class="mt-2">6. Los designados, elegidos o proclamados, por autoridad competente, para desempeñar actividades o funciones en nombre o al servicio del Estado o sus entidades.</p>
  <p class="mt-2">7. Los demás indicados por la Constitución Política y la ley.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley N° 30124, publicada el 13 de diciembre de 2013.</p>
</ArticleBlock>
