---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Principio de Representación"
  id="articulo-3"
  label="Artículo 3.-">
  <span slot="lead">La Ley Penal peruana podrá aplicarse cuando, solicitada la extradición, no se entregue al agente a la autoridad competente de un Estado extranjero.</span>
</ArticleBlock>
