---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Desvío fraudulento de crédito promocional"
  id="articulo-251"
  label="Artículo 251.-"
>
  <span slot="lead">El que aplica o desvía fraudulentamente un crédito promocional hacia una finalidad distinta a la que motivó su otorgamiento, será reprimido con pena privativa de libertad no mayor de dos años.</span>
</ArticleBlock>
