---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Alteración o supresión de la filiación de menor"
  id="articulo-145"
  label="Artículo 145.-"
>
  <span slot="lead">El que exponga u oculte a un menor, lo sustituya por otro, le atribuya falsa filiación o emplee cualquier otro medio para alterar o suprimir su filiación será reprimido con pena privativa de libertad no menor de uno ni mayor de cinco años.</span>
</ArticleBlock>
