---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Apropiación de prenda"
  id="articulo-193"
  label="Artículo 193.-"
>
  <span slot="lead">El que vende la prenda constituida en su favor o se apropia o dispone de ella sin observar las formalidades legales, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.</span>
</ArticleBlock>
