---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Homicidio Simple"
  id="articulo-106"
  label="Artículo 106.-"
>
  <span slot="lead">El que mata a otro será reprimido con pena privativa de libertad no menor de seis ni mayor de veinte años.</span>
</ArticleBlock>
