---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Plazos de prescripción de la acción penal"
  id="articulo-80"
  label="Artículo 80.-"
>
  <span slot="lead">La acción penal prescribe en un tiempo igual al máximo de la pena fijada por la ley para el delito, si es privativa de libertad.</span>
  <p class="mt-2">En caso de concurso real de delitos, las acciones prescriben separadamente en el plazo señalado para cada uno.</p>
  <p class="mt-2">En caso de concurso ideal de delitos, las acciones prescriben cuando haya transcurrido un plazo igual al máximo correspondiente al delito más grave.</p>
  <p class="mt-2">“La prescripción no será mayor a veinte años. Tratándose de delitos sancionados con pena de cadena perpetua se extingue la acción penal a los treinta años. En los casos de delito de omisión de asistencia familiar, el plazo de prescripción se duplica.” (*) Párrafo modificado por el artículo único de la Ley N° 32029, publicada el 17 de mayo de 2024.</p>
  <p class="mt-2">En los delitos que merezcan otras penas, la acción prescribe a los dos años.</p>
  <p class="mt-2">“En casos de delitos cometidos por funcionarios y servidores públicos contra el patrimonio del Estado o de organismos sostenidos por este, o cometidos como integrante de organizaciones criminales, el plazo de prescripción se duplica.” (*) Párrafo modificado por la primera disposición complementaria modificatoria de la Ley N° 30077, publicada el 20 de agosto de 2013.</p>
</ArticleBlock>
