---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-360"
  label="Artículo 360.-"
>
  <span slot="lead">
    El funcionario o servidor público o miembro de las Fuerzas Armadas o de la Policía Nacional que incurra en uno de los delitos previstos en este Título sufrirá, además, inhabilitación de uno a tres años conforme al artículo 36, incisos 1 y 2.
  </span>
</ArticleBlock>
