---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Hurto simple y daño"
  id="articulo-444"
  label="Artículo 444.-"
>
  <span slot="lead">
    El que realiza cualquiera de las conductas previstas en los artículos <a href="#articulo-185">185</a> y <a href="#articulo-205">205</a>, cuando la acción recae sobre un bien cuyo valor no sobrepase el diez por ciento de una unidad impositiva tributaria (UIT), será reprimido con prestación de servicios comunitarios de cuarenta a ciento veinte jornadas o con sesenta a ciento ochenta días multa, sin perjuicio de la obligación de restituir el bien sustraído o dañado.
  </span>
  <p class="mt-2">
    La misma pena se impone si el agente realiza la conducta prevista en el primer párrafo del artículo <a href="#articulo-189-A">189-A</a>, cuando la acción recae sobre ganado cuyo valor no sobrepasa el diez por ciento de una unidad impositiva tributaria (UIT).
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley N° 31787, publicada el 14 de junio de 2023.</p>
</ArticleBlock>
