---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tráfico ilegal de recursos genéticos"
  id="articulo-308-d"
  label="Artículo 308-D.-"
>
  <span slot="lead">
    El que adquiere, vende, transporta, almacena, importa, exporta o reexporta, de forma no autorizada, recursos genéticos de especies de flora y/o fauna silvestre, incluyendo las acuáticas, será reprimido con pena privativa de libertad no menor de tres años ni mayor de cinco años y con ciento ochenta a cuatrocientos días-multa.
  </span>
  <p class="mt-2">
    La misma pena será aplicable para el que a sabiendas financia, de modo que sin su cooperación no se hubiera podido cometer las actividades señaladas en el primer párrafo.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por el artículo único de la Ley N° 31622, publicada el 16 de noviembre de 2022.
  </p>
</ArticleBlock>
