---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Negativa a administrar justicia"
  id="articulo-422"
  label="Artículo 422.-"
>
  <span slot="lead">
    El Juez que se niega a administrar justicia o que elude juzgar bajo pretexto de defecto o deficiencia de la ley, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
