---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Plagio"
  id="articulo-219"
  label="Artículo 219.-"
>
  <span slot="lead">Será reprimido con pena privativa de libertad no menor de tres ni mayor de seis años y noventa a ciento ochenta días multa, el que, con respecto a una obra de autoría humana, la difunda como propia, en todo o en parte, copiándola o reproduciéndola textualmente, o tratando de disimular la copia mediante ciertas alteraciones, atribuyéndose o atribuyendo a otro, la autoría o titularidad ajena.</span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 32314, publicada el 29 de abril de 2025.</p>
</ArticleBlock>
