---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-182"
  label="Artículo 182.-"
>
  <span slot="lead">(*) Artículo derogado por la quinta disposición complementaria, transitoria y final de la Ley N° 28950, publicada el 16 de enero de 2007.</span>
</ArticleBlock>
