---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Principio de Ubicuidad"
  id="articulo-5"
  label="Artículo 5.-">
  <span slot="lead">El lugar de comisión de un delito es aquél en el cual el autor o partícipe ha actuado u omitido la obligación de actuar o en el que se producen sus efectos.</span>
</ArticleBlock>
