---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Lesiones culposas"
  id="articulo-124"
  label="Artículo 124.-"
>
  <span slot="lead">El que por culpa causa a otro un daño en el cuerpo o en la salud, será reprimido, por acción privada, con pena privativa de libertad no mayor de un año y con sesenta a ciento veinte días-multa.</span>
  <p class="mt-2">La pena será privativa de libertad no menor de uno ni mayor de dos años y de sesenta a ciento veinte días-multa, si la lesión es grave, de conformidad a los presupuestos establecidos en el artículo <a href="#articulo-121">121</a>.</p>
  <p class="mt-2">La pena privativa de libertad será no menor de uno ni mayor de tres años si el delito resulta de la inobservancia de reglas de profesión, ocupación o industria y no menor de un año ni mayor de cuatro años cuando sean varias las víctimas del mismo hecho.</p>
  <p class="mt-2">La pena privativa de la libertad será no menor de cuatro años ni mayor de seis años e inhabilitación, según corresponda, conforme al artículo <a href="#articulo-36">36</a> -incisos 4), 6) y 7)-, si la lesión se comete utilizando vehículo motorizado o arma de fuego, estando el agente bajo el efecto de drogas tóxicas, estupefacientes, sustancias psicotrópicas o sintéticas, o con presencia de alcohol en la sangre en proporción mayor de 0.5 gramos-litro, en el caso de transporte particular, o mayor de 0.25 gramos-litro en el caso de transporte público de pasajeros, mercancías o carga en general, o cuando el delito resulte de la inobservancia de reglas técnicas de tránsito.” (*) Artículo modificado por el artículo 1 de la Ley Nº 29439, publicada el 19 de noviembre de 2009.</p>
</ArticleBlock>
