---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Extracción y procesamiento ilegal de especies acuáticas"
  id="articulo-308-b"
  label="Artículo 308-B.-"
>
  <span slot="lead">
    El que extrae especies de flora o fauna acuática en épocas, cantidades, talla y zonas que son prohibidas o vedadas, o captura especies o las procesa sin contar con el respectivo permiso o licencia o exceda el límite de captura por embarcación, asignado por la autoridad administrativa competente y la ley de la materia, o lo hace excediendo el mismo o utiliza embarcaciones construidas sin autorización o sin licencia, métodos prohibidos o declarados ilícitos, será reprimido con pena privativa de libertad no menor de tres años ni mayor de cinco años y con ciento ochenta a cuatrocientos días-multa.
  </span>
  <p class="mt-2">
    Se exceptúan de la aplicación de este artículo las capturas incidentales de especies y/o tamaños distintos a las autorizadas, en cualquier tipo de pesca y las que se encuentran en procesos de formalización, siempre que estas se realicen durante actividades y zonas permitidas, cumpliendo con las normas regulatorias pesqueras correspondientes.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por el artículo único de la Ley N° 31673, publicada el 18 de enero de 2023. (*) Mediante Fe de Erratas publicada el 28 de enero de 2023, se precisó que la modificatoria dispuesta por el artículo único de la Ley N° 31673, correspondía al artículo 308-B del Código Penal.
  </p>
</ArticleBlock>
