---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Usurpación breve"
  id="articulo-446"
  label="Artículo 446.-"
>
  <span slot="lead">
    El que penetra, por breve término, en terreno cercado, sin permiso del dueño, será reprimido con veinte a sesenta días-multa.
  </span>
</ArticleBlock>
