---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inducción a no votar o hacerlo en sentido determinado"
  id="articulo-356"
  label="Artículo 356.-"
>
  <span slot="lead">
    El que, mediante dádivas, ventajas o promesas trata de inducir a un elector a no votar o a votar en un sentido determinado, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
