---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Funcionario o servidor público extranjero"
  id="articulo-425-a"
  label="Artículo 425-A.-"
>
  <span slot="lead">
    Es funcionario o servidor público extranjero todo aquel que, independientemente de la naturaleza del vínculo que mantenga con las entidades u organismos de un Estado extranjero, cuerpos castrenses, policiales o cualquier agencia de seguridad nacional extranjera, empresas o sociedades que estén comprendidas en la actividad empresarial de un Estado extranjero y que en virtud de ello actúan como miembro, funcionario, designado, nombrado o representante de estos, incluso si su cargo emana de elección popular.
  </span>
  <p class="mt-2">
    Se incluye dentro de estos alcances a quienes ejercen estas funciones o roles en los organismos internacionales.
  </p>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley N° 31501, publicada el 29 de junio de 2022.</p>
</ArticleBlock>
