---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Expedición de prueba o informe falso en proceso judicial"
  id="articulo-412"
  label="Artículo 412.-"
>
  <span slot="lead">
    El que, legalmente requerido en causa judicial en la que no es parte, expide una prueba o un informe falsos, niega o calla la verdad, en todo o en parte, será reprimido con pena privativa de libertad no mayor de tres años.
  </span>
</ArticleBlock>
