---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Impedimento del ejercicio de derecho de sufragio"
  id="articulo-355"
  label="Artículo 355.-"
>
  <span slot="lead">
    El que, mediante violencia o amenaza, impide a un elector ejercer su derecho de sufragio o le obliga a hacerlo en un sentido determinado, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
