---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Formas atenuadas"
  id="articulo-208-A"
  label="Artículo 208-A.-"
>
  <span slot="lead">En cualquiera de los delitos contra el patrimonio, a excepción de los previstos en los artículos <a href="#articulo-189">189</a> tercer párrafo, 200 noveno párrafo, y 204 numeral 10 del primer párrafo, siempre y cuando el agente no sea reincidente o habitual:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Si el valor del bien no sobrepasa el cinco por ciento de una unidad impositiva tributaria (UIT), o la violencia o amenaza infringida por el agente resultan mínimas o insignificantes, o para la ejecución del delito se emplea armas simuladas o inservibles, se disminuye a la pena concreta, por única vez, un sexto de la pena mínima establecida para el delito.</li>
    <li>Si el autor o partícipe hubiere reparado espontáneamente el daño ocasionado o haya devuelto el bien, en igual estado de conservación, al agraviado, se disminuye a la pena concreta, por única vez, un séptimo de la pena mínima establecida para el delito.</li>
  </ol>
  <p class="mt-2">(*) Artículo incorporado por el artículo 8 del Decreto Legislativo N° 1585, publicado el 22 de noviembre de 2023.</p>
</ArticleBlock>
