---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Adulteración"
  id="articulo-235"
  label="Artículo 235.-"
>
  <span slot="lead">El que altera o modifica la calidad, cantidad, peso o medida de algún bien, en perjuicio del consumidor, será reprimido con pena privativa de la libertad no menor de uno ni mayor de tres años y con noventa a ciento ochenta días-multa.</span>
  <p class="mt-2">Si la adulteración se comete durante situación de conmoción, calamidad pública o estado de emergencia oficialmente declarado, la pena privativa de la libertad será no menor de cuatro ni mayor de seis años y con ciento ochenta a trescientos sesenta y cinco días multa.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 de la Ley N° 31040, publicada el 29 de agosto de 2020.</p>
</ArticleBlock>
