---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-183-A"
  label="Artículo 183-A.-"
>
  <span slot="lead">(*) Artículo eliminado por la reubicación dispuesta por el artículo 2 de la Ley N° 31146, publicada el 30 de marzo de 2021.</span>
</ArticleBlock>
