---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-236"
  label="Artículo 236.-"
>
  <span slot="lead">(*) Artículo derogado por la única disposición derogatoria final de la Ley N° 31040 publicada el 29 de agosto de 2020.</span>
</ArticleBlock>
