---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Detención ilegal"
  id="articulo-419"
  label="Artículo 419.-"
>
  <span slot="lead">
    El Juez que, maliciosamente o sin motivo legal, ordena la detención de una persona o no otorga la libertad de un detenido o preso, que debió decretar, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años.
  </span>
</ArticleBlock>
