---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tratamiento terapéutico"
  id="articulo-178-A"
  label="Artículo 178-A.-"
>
  <span slot="lead">El condenado a pena privativa de libertad efectiva por los delitos comprendidos en este capítulo, previo examen médico y psicológico que determine su aplicación, será sometido a un tratamiento terapéutico a fin de facilitar su readaptación social.</span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley Nº 26293, publicada el 14 de febrero de 1994, y modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto de 2018.</p>
</ArticleBlock>
