---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Desvío ilegal del curso de las aguas"
  id="articulo-203"
  label="Artículo 203.-"
>
  <span slot="lead">El que, con el fin de obtener para sí o para otro un provecho ilícito con perjuicio de tercero, desvía el curso de las aguas públicas o privadas, impide que corran por su cauce o las utiliza en una cantidad mayor de la debida, será reprimido con pena privativa de libertad no menor de uno ni mayor de tres años.</span>
</ArticleBlock>
