---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Participación en pandillaje pernicioso"
  id="articulo-148-A"
  label="Artículo 148-A.-"
>
  <span slot="lead">El que participa en pandillas perniciosas, instiga o induce a menores de edad a participar en ellas, para atentar contra la vida, integridad física, el patrimonio o la libertad sexual de las personas, dañar bienes públicos o privados u ocasionar desmanes que alteren el orden público, será reprimido con pena privativa de libertad no menor de diez ni mayor de veinte años.</span>
  <p class="mt-2">La pena será no menor de veinte años cuando el agente:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Actúa como cabecilla, líder, dirigente o jefe.</li>
    <li>Es docente en un centro de educación privado o público.</li>
    <li>Es funcionario o servidor público.</li>
    <li>Instigue, induzca o utilice a menores de edad a actuar bajo los efectos de bebidas alcohólicas o drogas.</li>
    <li>Utilice armas de fuego, armas blancas, material inflamable, explosivos u objetos contundentes o los suministre a los menores.</li>
  </ol>
  <p class="mt-2">(*) Artículo incorporado por la primera disposición complementaria y final del Decreto Legislativo Nº 899, publicado el 28 de mayo de 1998, y modificado por la segunda disposición complementaria modificatoria del Decreto Legislativo N° 1204, publicado el 23 de setiembre de 2015.</p>
</ArticleBlock>
