---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Colusión simple y agravada"
  id="articulo-384"
  label="Artículo 384.-"
>
  <span slot="lead">
    El funcionario o servidor público que, interviniendo directa o indirectamente, por razón de su cargo, en cualquier etapa de las modalidades de adquisición o contratación pública de bienes, obras o servicios, concesiones o cualquier operación a cargo del Estado concierta con los interesados para defraudar al Estado o entidad u organismo del Estado, según ley, será reprimido con pena privativa de libertad no menor de tres ni mayor de seis años; inhabilitación a que se refieren los incisos 1, 2 y 8 del artículo 36, de cinco a veinte años; y, con ciento ochenta a trescientos sesenta y cinco días-multa.
  </span>
  <p class="mt-2">
    El funcionario o servidor público que, interviniendo directa o indirectamente, por razón de su cargo, en las contrataciones y adquisiciones de bienes, obras o servicios, concesiones o cualquier operación a cargo del Estado mediante concertación con los interesados, defraudare patrimonialmente al Estado o entidad u organismo del Estado, según ley, será reprimido con pena privativa de libertad no menor de seis ni mayor de quince años; inhabilitación a que se refieren los incisos 1, 2 y 8 del artículo 36, de cinco a veinte años; y, con trescientos sesenta y cinco a setecientos treinta días-multa.
  </p>
  <p class="mt-2">La pena será privativa de libertad no menor de quince ni mayor de veinte años; inhabilitación a que se refieren los incisos 1, 2 y 8 del artículo 36, de naturaleza perpetua, y, con trescientos sesenta y cinco a setecientos treinta días-multa, cuando ocurra cualquiera de los siguientes supuestos:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>
      El agente actúe como integrante de una organización criminal, como persona vinculada o actúe por encargo de ella.
    </li>
    <li>
      La conducta recaiga sobre programas con fines asistenciales, de apoyo o inclusión social o de desarrollo, siempre que el valor del dinero, bienes, efectos o ganancias involucrados supere las diez unidades impositivas tributarias.
    </li>
    <li>
      El agente se aproveche de una situación de calamidad pública o emergencia sanitaria, o la comisión del delito comprometa la defensa, seguridad o soberanía nacional.
    </li>
  </ol>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 de la Ley N° 31178, publicada el 28 de abril 2021.</p>
</ArticleBlock>
