---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-173-A"
  label="Artículo 173-A.-"
>
  <span slot="lead">(*) Artículo derogado por la única disposición complementaria derogatoria de la Ley N° 30838, publicada el 4 de agosto de 2018.</span>
</ArticleBlock>
