---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sustracción de bien propio"
  id="articulo-191"
  label="Artículo 191.-"
>
  <span slot="lead">El propietario de un bien mueble que lo sustrae de quien lo tenga legítimamente en su poder, con perjuicio de éste o de un tercero, será reprimido con pena privativa de libertad no mayor de cuatro años.</span>
</ArticleBlock>
