---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Informes de auditoría distorsionados"
  id="articulo-198-A"
  label="Artículo 198-A.-"
>
  <span slot="lead">Será reprimido con la pena señalada en el artículo anterior el auditor interno o externo que a sabiendas de la existencia de distorsiones o tergiversaciones significativas en la información contable-financiera de la persona jurídica no las revele en su informe o dictamen. (*) Artículo incorporado por el artículo 2 de la Ley N° 29307, publicada el 31 de diciembre de 2008.</span>
</ArticleBlock>
