---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="La reparación civil: Oportunidad de su determinación"
  id="articulo-92"
  label="Artículo 92.-"
>
  <span slot="lead">La reparación civil se determina conjuntamente con la pena y es un derecho de la víctima que debe efectivizarse durante el tiempo que dure la condena. El juez garantiza su cumplimiento.</span>
  <p class="mt-2">“(*) Artículo modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto de 2018.”</p>
</ArticleBlock>
