---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tráfico de moneda falsa"
  id="articulo-254"
  label="Artículo 254.-"
>
  <span slot="lead">
    El que a sabiendas, introduce, transporta o retira del territorio de la República; comercializa, distribuye o pone en circulación monedas o billetes falsificados o alterados por terceros, cuyo valor nominal supere una remuneración mínima vital, será reprimido con pena privativa de libertad no menor de cinco ni mayor de diez años y con ciento ochenta a trescientos sesenta y cinco días multa.
  </span>
  <p class="mt-2">
    La pena será de ciento ochenta a trescientos sesenta y cinco días-multa, si el valor nominal es menor a una remuneración mínima vital.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley Nº 27593, publicada el 13 de diciembre de 2001.</p>
</ArticleBlock>
