---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Reparación civil de terceros responsables"
  id="articulo-99"
  label="Artículo 99.-"
>
  <span slot="lead">Procede la acción civil contra los terceros cuando la sentencia dictada en la jurisdicción penal no alcanza a éstos.</span>
</ArticleBlock>
