---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación principal o accesoria"
  id="articulo-37"
  label="Artículo 37.-"
>
  <span slot="lead">La pena de inhabilitación puede ser impuesta como principal o accesoria.</span>
</ArticleBlock>
