---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Funcionamiento ilegal de casinos de juego"
  id="articulo-243-A"
  label="Artículo 243-A.-"
>
  <span slot="lead">Será reprimido con pena privativa de la libertad no menor de uno ni mayor de seis años y con trescientos sesenticinco días-multa, el que organiza o conduce Casinos de Juego sujetos a autorización sin haber cumplido los requisitos que exijan las leyes o reglamentos para su funcionamiento; sin perjuicio del decomiso de los efectos, dinero y bienes utilizados en la comisión del delito.</span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 10 del Decreto Ley Nº 25836, publicado el 11 de noviembre de 1992. Posteriormente el Decreto Ley N° 25836 fue derogado por la tercera disposición complementaria y final de la Ley Nº 27153, publicada el 9 de julio de 1999.</p>
</ArticleBlock>
