---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Acoso sexual"
  id="articulo-176-B"
  label="Artículo 176-B.-"
>
  <span slot="lead">El que, de cualquier forma, vigila, persigue, hostiga, asedia o busca establecer contacto o cercanía con una persona, sin el consentimiento de esta, para llevar a cabo actos de connotación sexual, será reprimido con pena privativa de la libertad no menor de tres ni mayor de cinco años e inhabilitación, según corresponda, conforme a los incisos 5, 9, 10 y 11 del artículo 36.</span>
  <p class="mt-2">Igual pena se aplica a quien realiza la misma conducta valiéndose del uso de cualquier tecnología de la información o de la comunicación o cualquier otro medio tecnológico. (*) Párrafo modificado por el artículo 1 de la Ley N° 32169, publicada el 21 de noviembre de 2024.</p>
  <p class="mt-2">La pena privativa de la libertad será no menor de cuatro ni mayor de ocho años e inhabilitación, según corresponda, conforme a los incisos 5, 9, 10 y 11 del artículo 36, si concurre alguna de las circunstancias agravantes:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>La víctima es persona adulta mayor, se encuentra en estado de gestación o es persona con discapacidad.</li>
    <li>La víctima y el agente tienen o han tenido una relación de pareja, son o han sido convivientes o cónyuges, tienen vínculo parental hasta el cuarto grado de consanguinidad o segundo de afinidad.</li>
    <li>La víctima habita en el mismo domicilio que el agente o comparten espacios comunes de una misma propiedad.</li>
    <li>La víctima se encuentra en condición de dependencia o subordinación con respecto al agente.</li>
    <li>La conducta se lleva a cabo en el marco de una relación laboral, educativa o formativa de la víctima.</li>
    <li>La víctima tiene entre catorce y menos de dieciocho años.</li>
  </ol>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 del Decreto Legislativo N° 1410, publicado el 12 de setiembre de 2018.</p>
</ArticleBlock>
