---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sustracción de menor"
  id="articulo-147"
  label="Artículo 147.-"
>
  <span slot="lead">El que, mediando relación parental, sustrae a un menor de edad o rehúsa entregarlo a quien ejerce la patria potestad, será reprimido con pena privativa de libertad no mayor de dos años.</span>
  <p class="mt-2">La misma pena se aplicará al padre o la madre u otros ascendientes, aun cuando aquellos no hayan sido excluidos judicialmente de la patria potestad. (*) Artículo modificado por el inciso a) del artículo 1 de la Ley N° 28760, publicada el 14 de junio de 2006.</p>
</ArticleBlock>
