---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fabricación clandestina de uniformes de la Policía Nacional del Perú o de las Fuerzas Armadas"
  id="articulo-271-a"
  label="Artículo 271-A.-"
>
  <span slot="lead">
    Será reprimido con pena privativa de libertad no menor de cuatro ni mayor de seis años, con el decomiso total, el que confecciona sin autorización uniformes de la Policía Nacional del Perú o de las Fuerzas Armadas.
  </span>
  <p class="mt-2">
    (*) Artículo incorporado por la única disposición complementaria modificatoria de la Ley Nº 32329, publicada el 10 de mayo de 2025.
  </p>
</ArticleBlock>
