---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Uso de menores en la comisión de delitos"
  id="articulo-46-D"
  label="Artículo 46-D.-"
>
  <span slot="lead">Constituye circunstancia agravante de la responsabilidad penal, si el sujeto activo utiliza, bajo cualquier modalidad, a un menor de dieciocho años o a una persona que, por anomalía psíquica, grave alteración de la conciencia o por sufrir alteraciones en la percepción, que afectan gravemente su concepto de la realidad, no posea la facultad de comprender el carácter delictuoso de su acto o para determinarse según esta comprensión para la comisión de un delito, en cuyo caso el juez puede aumentar la pena hasta en un tercio por encima del máximo legal fijado en el tipo penal.</span>
  <p class="mt-2">En caso de que el agente tuviere cualquier posición, cargo o vínculo familiar que le otorgue particular autoridad sobre el menor o le impulse a depositar en él su confianza, el juez puede aumentar la pena hasta en una mitad por encima del máximo legal fijado para el tipo penal. Si el agente ejerce la patria potestad sobre el menor, el juez suspende su ejercicio, conforme a lo dispuesto en la ley de la materia.</p>
  <p class="mt-2">Si durante la comisión del delito o como consecuencia de este el menor sufre lesiones graves, incapacidad permanente o muere, y el agente pudo prever el resultado, el juez puede imponer una pena de hasta el doble del máximo legal fijado para el tipo penal.</p>
  <p class="mt-2">En ningún caso la pena concreta puede exceder de treinta y cinco años de pena privativa de la libertad. No es aplicable lo dispuesto en el presente artículo cuando la circunstancia agravante se encuentre prevista al sancionar el tipo penal.” (*) Artículo incorporado por el artículo único de la Ley Nº 30030, publicada el 4 de junio de 2013.</p>
</ArticleBlock>
