---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Lesiones preterintencionales con resultado fortuito"
  id="articulo-123"
  label="Artículo 123.-"
>
  <span slot="lead">Cuando el agente produzca un resultado grave que no quiso causar, ni pudo prever, la pena será disminuida prudencialmente hasta la que corresponda a la lesión que quiso inferir.</span>
</ArticleBlock>
