---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Bigamia"
  id="articulo-139"
  label="Artículo 139.-"
>
  <span slot="lead">El casado que contrae matrimonio será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.</span>
  <p class="mt-2">Si, respecto a su estado civil, induce a error a la persona con quien contrae el nuevo matrimonio la pena será privativa de libertad no menor de dos ni mayor de cinco años.</p>
</ArticleBlock>
