---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Condicionamiento de créditos"
  id="articulo-248"
  label="Artículo 248.-"
>
  <span slot="lead">Los directores, gerentes, administradores o funcionarios de las instituciones bancarias, financieras y demás que operan con fondos del público que condicionan, en forma directa o indirecta, el otorgamiento de créditos a la entrega por parte del usuario de contraprestaciones indebidas, serán reprimidos con pena privativa de libertad no menor de uno ni mayor de tres años y con noventa a ciento ochenta días-multa.</span>
</ArticleBlock>
