---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Omisión de ejercicio de la acción penal"
  id="articulo-424"
  label="Artículo 424.-"
>
  <span slot="lead">
    El Fiscal que omite ejercitar la acción penal será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
