---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Responsabilidad de los representantes legales de las personas jurídicas"
  id="articulo-314-a"
  label="Artículo 314-A.-"
>
  <span slot="lead">
    Los representantes legales de las personas jurídicas dentro de cuya actividad se cometan los delitos previstos en este Título serán responsables penalmente de acuerdo con las reglas establecidas en los artículos <a href="#articulo-23">23</a> y <a href="#articulo-27">27</a> de este Código.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 3 de la Ley N° 29263, publicada el 2 de octubre de 2008.</p>
</ArticleBlock>
