---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Uso de productos tóxicos o peligrosos"
  id="articulo-288-b"
  label="Artículo 288-B.-"
>
  <span slot="lead">
    El que fabrica, importa, distribuye o comercializa productos, pinturas con presencia y concentración de plomo y otros materiales de revestimiento o materiales tóxicos o peligrosos para la salud destinados al uso de menores de edad y otros consumidores, será reprimido con pena privativa de la libertad no menor de cuatro años ni mayor de ocho años.
  </span>
  <p class="mt-2">
    (*) Artículo modificado por la única disposición complementaria modificatoria de la Ley Nº 31182, publicada el 2 de mayo de 2021.
  </p>
</ArticleBlock>
