---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sustracción de objetos requisados por autoridad"
  id="articulo-373"
  label="Artículo 373.-"
>
  <span slot="lead">
    El que sustrae objetos requisados por la autoridad, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años.
  </span>
</ArticleBlock>
