---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Conspiración para una rebelión, sedición o motín"
  id="articulo-349"
  label="Artículo 349.-"
>
  <span slot="lead">
    El que toma parte en una conspiración de dos o más personas para cometer delitos de rebelión, sedición o motín, será reprimido con pena privativa de libertad no mayor de la mitad del máximo de la señalada para el delito que se trataba de perpetrar.
  </span>
</ArticleBlock>
