---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cooperación de profesional"
  id="articulo-322"
  label="Artículo 322.-"
>
  <span slot="lead">
    El médico o cualquier profesional sanitario que cooperara en la perpetración del delito señalado en el artículo anterior, será reprimido con la misma pena de los autores.
  </span>
</ArticleBlock>
