---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Colaboración al delito de entorpecimiento del funcionamiento de servicios públicos"
  id="articulo-283-a"
  label="Artículo 283-A.-"
>
  <span slot="lead">
    Será reprimido con pena privativa de libertad no menor de tres ni mayor a cinco años, el que de manera voluntaria realiza los siguientes actos de colaboración favoreciendo la comisión del delito de Entorpecimiento al funcionamiento de servicios públicos:
  </span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>
      a) Provee cualquier bien mueble, objeto o instrumento que, coadyuve o facilite las actividades ejecutivas de los agentes del delito de Entorpecimiento al funcionamiento de servicios públicos.
    </li>
    <li>
      b) Aporta recursos financieros o económicos para la adquisición de bienes muebles que coadyuven o faciliten las actividades de los agentes del delito de Entorpecimiento al funcionamiento de servicios públicos.
    </li>
  </ol>
  <p class="mt-2">
    (*) Artículo incorporado por el artículo 3 del Decreto Legislativo N° 1589, publicado en Edición Extraordinaria el 4 de diciembre de 2023.
  </p>
</ArticleBlock>
