---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Excusa absolutoria"
  id="articulo-406"
  label="Artículo 406.-"
>
  <span slot="lead">
    Están exentos de pena los que ejecutan cualquiera de los hechos previstos en los artículos <a href="#articulo-404">404</a>º y 405º si sus relaciones con la persona favorecida son tan estrechas como para excusar su conducta.
  </span>
</ArticleBlock>
