---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Supresión, destrucción u ocultamiento de documentos"
  id="articulo-430"
  label="Artículo 430.-"
>
  <span slot="lead">
    El que suprime, destruye u oculta un documento, en todo o en parte de modo que pueda resultar perjuicio para otro, será reprimido con la pena señalada en los artículos <a href="#articulo-427">427</a> y <a href="#articulo-428">428</a>, según sea el caso.
  </span>
</ArticleBlock>
