---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-353"
  label="Artículo 353.-"
>
  <span slot="lead">
    Los funcionarios, servidores públicos o miembros de las Fuerzas Armadas o de la Policía Nacional, que sean culpables de los delitos previstos en este Título, serán reprimidos, además, con inhabilitación de uno a cuatro años conforme al artículo 36, incisos 1, 2 y 8.
  </span>
</ArticleBlock>
