---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Uso indebido de archivos computarizados"
  id="articulo-157"
  label="Artículo 157.-"
>
  <span slot="lead">El que, indebidamente, organiza, proporciona o emplea cualquier archivo que tenga datos referentes a las convicciones políticas o religiosas y otros aspectos de la vida íntima de una o más personas, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.</span>
  <p class="mt-2">Si el agente es funcionario o servidor público y comete el delito en ejercicio del cargo, la pena será no menor de tres ni mayor de seis años e inhabilitación conforme al artículo 36, incisos 1, 2 y 4.</p>
</ArticleBlock>
