---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sustracción o arrebato de armas de fuego"
  id="articulo-279-b"
  label="Artículo 279-B.-"
>
  <span slot="lead">
    El que sustrae o arrebate armas de fuego en general, o municiones y granadas de guerra o explosivos a miembros de las Fuerzas Armadas o de la Policía Nacional o de Servicios de Seguridad, será reprimido con pena privativa de libertad no menor de diez ni mayor de veinte años.
  </span>
  <p class="mt-2">
    La pena será de cadena perpetua si a consecuencia del arrebato o sustracción del arma o municiones a que se refiere el párrafo precedente, se causare la muerte o lesiones graves de la víctima o de terceras personas.
  </p>
  <p class="mt-2">(*) Artículo incorporado por la segunda disposición complementaria del Decreto Legislativo N° 898, publicado el 27 de mayo de 1998.</p>
</ArticleBlock>
