---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Prohibición de conocer un proceso que patrocinó"
  id="articulo-420"
  label="Artículo 420.-"
>
  <span slot="lead">
    El Juez o Fiscal que conoce en un proceso que anteriormente patrocinó como abogado, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
