---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Atentado contra la conservación e identidad de objeto"
  id="articulo-370"
  label="Artículo 370.-"
>
  <span slot="lead">
    El que destruye o arranca envolturas, sellos o marcas puestos por la autoridad para conservar o identificar un objeto, será reprimido con pena privativa de libertad no mayor de dos años o con prestación de servicio comunitario de veinte a treinta jornadas.
  </span>
</ArticleBlock>
