---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Renuncia a la prescripción de la acción penal"
  id="articulo-91"
  label="Artículo 91.-"
>
  <span slot="lead">El imputado tiene derecho a renunciar a la prescripción de la acción penal.</span>
</ArticleBlock>
