---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cosa Juzgada"
  id="articulo-90"
  label="Artículo 90.-"
>
  <span slot="lead">Nadie puede ser perseguido por segunda vez en razón de un hecho punible sobre el cual se falló definitivamente.</span>
</ArticleBlock>
