---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tocamientos, actos de connotación sexual o actos libidinosos en agravio de menores"
  id="articulo-176-A"
  label="Artículo 176-A.-"
>
  <span slot="lead">El que sin propósito de tener acceso carnal regulado en el artículo <a href="#articulo-170">170</a>, realiza sobre un menor de catorce años u obliga a este a efectuar sobre sí mismo, sobre el agente o tercero, tocamientos indebidos en sus partes íntimas, actos de connotación sexual en cualquier parte de su cuerpo o actos libidinosos, será reprimido con pena privativa de libertad no menor de nueve ni mayor de quince años.</span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley N° 26293, publicada el 14 de febrero de 1994, y modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto de 2018.</p>
</ArticleBlock>
