---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Pornografía infantil"
  id="articulo-129-M"
  label="Artículo 129-M.-"
>
  <span slot="lead">El que posee, promueve, fabrica, distribuye, exhibe, ofrece, comercializa, publicita, publica, importa, exporta o manipula por cualquier medio objetos, libros, escritos, imágenes, videos o audios, o utiliza tecnologías basadas en inteligencia artificial, incluidas las falsificaciones profundas (‘deepfakes’) o cualquier contenido multimedia generado por inteligencia artificial, con fines relacionados con la pornografía infantil o realiza espectáculos en vivo de carácter sexual, en los cuales participen menores de dieciocho años de edad, será sancionado con pena privativa de libertad no menor de seis ni mayor de diez años y con ciento veinte a trescientos sesenta y cinco días multa.” (*) Párrafo modificado por el artículo 1 de la Ley N° 32314, publicada el 29 de abril de 2025.</span>
  <p class="mt-2">La pena privativa de libertad será no menor de diez ni mayor de quince años y de cincuenta a trescientos sesenta y cinco días multa cuando:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>La víctima tenga menos de catorce años de edad.</li>
    <li>El material se difunda a través de cualquier tecnología de la información o de la comunicación o cualquier otro medio que genere difusión masiva.</li>
    <li>El agente actúe como miembro o integrante de una banda u organización criminal.</li>
  </ol>
  <p class="mt-2">En todos los casos se impone, además, la pena de inhabilitación conforme al artículo 36, incisos 1, 2, 3, 4, 5, 6, 8, 9,10 y 11.” (*) Artículo incorporado por el artículo 5 de la Ley Nº 30171, publicada el 10 de marzo de 2014, y modificado por el artículo 1 de la Ley N° 30963, publicada el 18 de junio de 2019.</p>
</ArticleBlock>
