---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Extensión de la pena de multa"
  id="articulo-42"
  label="Artículo 42.-"
>
  <span slot="lead">La pena de multa se extenderá de un mínimo de diez días-multa a un máximo de trescientos sesenticinco días-multa, salvo disposición distinta de la ley.</span>
</ArticleBlock>
