---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Vulneración del inmueble, zona o área declarada intangible alrededor del perímetro de los establecimientos penitenciarios"
  id="articulo-368-f"
  label="Artículo 368-F.-"
>
  <span slot="lead">
    El que indebidamente, edifica, construye, fabrica o establece vivienda, morada, habitación u otro tipo de asentamiento en un bien, zona o área declarada intangible alrededor del perímetro de los establecimientos penitenciarios, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de ocho años.
  </span>
  <p class="mt-2">
    La pena privativa de libertad será no menor de cinco ni menor de nueve años cuando el agente coloque o instale ilegalmente antenas transmisoras de internet, telefonía móvil o satelital en la zona, área o bien antes referida.
  </p>
  <p class="mt-2">
    (*) Artículo incorporado por la segunda disposición complementaria modificatoria del Decreto Legislativo N° 1688, publicado el 2 de octubre de 2024.
  </p>
</ArticleBlock>
