---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Comercialización de alcohol metílico"
  id="articulo-288-a"
  label="Artículo 288-A.-"
>
  <span slot="lead">
    El que comercializa alcohol metílico, conociendo o presumiendo su uso para fines de consumo humano, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de ocho años.
  </span>
  <p class="mt-2">No es punible la comercialización de alcohol metílico para fines comprobadamente industriales o científicos.</p>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley Nº 27645, publicada el 23 de enero de 2002.</p>
</ArticleBlock>
