---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Momento de comisión del delito"
  id="articulo-9"
  label="Artículo 9.-"
>
  <span slot="lead">El momento de la comisión de un delito es aquél en el cual el autor o partícipe ha actuado u omitido la obligación de actuar, independientemente del momento en que el resultado se produzca.</span>
</ArticleBlock>
