---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Funcionamiento ilegal de juegos de casino y máquinas tragamonedas o juegos o apuestas deportivas a distancia"
  id="articulo-243-C"
  label="Artículo 243-C.-"
>
  <span slot="lead">El que organiza, conduce o explota juegos de casino y máquinas tragamonedas, o juegos o apuestas deportivas a distancia sin haber cumplido con los requisitos que exigen las leyes y sus reglamentos para su organización, conducción o explotación, será reprimido con pena privativa de la libertad no menor de uno ni mayor de cuatro años, con trescientos sesenta y cinco días multa e inhabilitación para ejercer dicha actividad, de conformidad con el inciso 4) del artículo <a href="#articulo-36">36</a> del Código Penal.</span>
  <p class="mt-2">(*) Artículo modificado por la única disposición complementaria modificatoria de la Ley N° 31806, publicada el 28 de junio de 2023. Anteriormente, este artículo fue incorporado por el artículo 1 de la Ley Nº 28842, publicada el 26 de julio de 2006.</p>
</ArticleBlock>
