---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Evasión mediante violencia o amenaza"
  id="articulo-413"
  label="Artículo 413.-"
>
  <span slot="lead">
    El que, estando legalmente privado de su libertad, se evade por medio de violencia o amenaza, será reprimido con pena privativa de libertad no mayor de tres años.
  </span>
</ArticleBlock>
