---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Revelación de la intimidad personal y familiar"
  id="articulo-156"
  label="Artículo 156.-"
>
  <span slot="lead">El que revela aspectos de la intimidad personal o familiar que conociera con motivo del trabajo que prestó al agraviado o a la persona a quien éste se lo confió, será reprimido con pena privativa de libertad no mayor de un año.</span>
</ArticleBlock>
