---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Trata de personas"
  id="articulo-129-A"
  label="Artículo 129-A.-"
>
  <span slot="lead">1. El que mediante violencia, amenaza u otras formas de coacción, privación de la libertad, fraude, engaño, abuso de poder o de una situación de vulnerabilidad, concesión o recepción de pagos o de cualquier beneficio, capta, transporta, traslada, acoge, recibe o retiene a otro, en el territorio de la República o para su salida o entrada del país con fines de explotación, es reprimido con pena privativa de libertad no menor de ocho ni mayor de quince años.</span>
  <p class="mt-2">2. Para efectos del inciso 1, los fines de explotación de la trata de personas comprende, entre otros, la venta de niños, niñas o adolescentes, la prostitución y cualquier forma de explotación sexual, la esclavitud o prácticas análogas a la esclavitud, cualquier forma de explotación laboral, la mendicidad, los trabajos o servicios forzados, la servidumbre, la extracción o tráfico de órganos o tejidos somáticos o sus componentes humanos, así como cualquier otra forma análoga de explotación.</p>
  <p class="mt-2">3. La captación, transporte, traslado, acogida, recepción o retención de niño, niña o adolescente con fines de explotación se considera trata de personas incluso cuando no se recurra a ninguno de los medios previstos en el inciso 1.</p>
  <p class="mt-2">4. El consentimiento dado por la víctima mayor de edad a cualquier forma de explotación carece de efectos jurídicos cuando el agente haya recurrido a cualquiera de los medios enunciados en el inciso 1.</p>
  <p class="mt-2">5. El agente que promueve, favorece, financia o facilita la comisión del delito de trata de personas, es reprimido con la misma pena prevista para el autor.” (*) Artículo modificado por el artículo único de la Ley N° 30251, publicada el 21 de octubre de 2014.</p>
</ArticleBlock>
