---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación accesoria en los delitos culposos de tránsito"
  id="articulo-40"
  label="Artículo 40.-"
>
  <span slot="lead">La pena de inhabilitación prevista en el artículo 36 inciso 7, de este Código podrá aplicarse como accesoria en los delitos culposos de tránsito.</span>
</ArticleBlock>
