---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Matrimonio con persona casada"
  id="articulo-140"
  label="Artículo 140.-"
>
  <span slot="lead">El no casado que, a sabiendas, contrae matrimonio con persona casada será reprimido con pena privativa de libertad no menor de uno ni mayor de tres años.</span>
</ArticleBlock>
