---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Falsificación, contaminación o adulteración de productos farmacéuticos, dispositivos médicos o productos sanitarios"
  id="articulo-294-a"
  label="Artículo 294-A.-"
>
  <span slot="lead">
    El que falsifica, contamina o adultera productos farmacéuticos, dispositivos médicos o productos sanitarios, o altera su fecha de vencimiento, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de diez años y con ciento ochenta a trescientos sesenta y cinco días multa.
  </span>
  <p class="mt-2">
    El que, a sabiendas, importa, comercializa, almacena, transporta o distribuye en las condiciones antes mencionadas productos farmacéuticos, dispositivos médicos o productos sanitarios, será reprimido con la misma pena.
  </p>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 de la Ley Nº 29675, publicada el 12 de abril de 2011.</p>
</ArticleBlock>
