---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Apropiación irregular"
  id="articulo-192"
  label="Artículo 192.-"
>
  <span slot="lead">Será reprimido con pena privativa de libertad no mayor de dos años o con limitación de días libres de diez a veinte jornadas, quien realiza cualquiera de las acciones siguientes:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Se apropia de un bien que encuentra perdido o de un tesoro, o de la parte del tesoro correspondiente al propietario del suelo, sin observar las normas del Código Civil.</li>
    <li>Se apropia de un bien ajeno en cuya tenencia haya entrado a consecuencia de un error, caso fortuito o por cualquier otro motivo independiente de su voluntad.</li>
  </ol>
</ArticleBlock>
