---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Uso ilegal de divisas"
  id="articulo-259"
  label="Artículo 259.-"
>
  <span slot="lead">
    El que destina las divisas asignadas por el Banco Central de Reserva, a fin distinto del señalado y autorizado, será reprimido con pena privativa de libertad no menor de dos ni mayor de diez años, con ciento veinte a trescientos sesenticinco días-multa e inhabilitación conforme al artículo 36, incisos 1, 2 y 4.
  </span>
  <p class="mt-2">
    Los directores, gerentes y funcionarios del Banco Central de Reserva o funcionarios públicos que faciliten la comisión del delito, serán reprimidos con la misma pena.
  </p>
</ArticleBlock>
