---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Omisión de resistencia a rebelión, sedición o motín"
  id="articulo-352"
  label="Artículo 352.-"
>
  <span slot="lead">
    El funcionario o servidor público que, pudiendo hacerlo, no oponga resistencia a una rebelión, sedición o motín, será reprimido con pena privativa de libertad no mayor de cuatro años.
  </span>
</ArticleBlock>
