---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Producción o venta de alimentos en mal estado para los animales"
  id="articulo-207"
  label="Artículo 207.-"
>
  <span slot="lead">El que produce o vende alimentos, preservantes, aditivos y mezclas para consumo animal, falsificados, corrompidos o dañados, cuyo consumo genere peligro para la vida, la salud o la integridad física de los animales, será reprimido con pena privativa de libertad no mayor de un año y con treinta a cien días-multa.</span>
</ArticleBlock>
