---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Robo de ganado"
  id="articulo-189-C"
  label="Artículo 189-C.-"
>
  <span slot="lead">El que se apodera ilegítimamente de ganado vacuno, ovino, equino, caprino, porcino o auquénido, total o parcialmente ajeno, aunque se trate de un solo animal, sustrayéndolo del lugar donde se encuentra, empleando violencia contra la persona o amenazándola con un peligro inminente para su vida o integridad física, será reprimido con pena privativa de libertad no menor de tres ni mayor de ocho años.</span>
  <p class="mt-2">La pena será privativa de libertad no menor de cinco ni mayor de quince años si el delito se comete con el concurso de dos o más personas, o el agente hubiere inferido lesión grave a otro o portando cualquier clase de arma o de instrumento que pudiere servir como tal.</p>
  <p class="mt-2">Si la violencia o amenaza fuesen insignificantes, la pena será disminuida en un tercio.</p>
  <p class="mt-2">La pena será no menor de diez ni mayor de veinte años si el delito cometido conforme a los incisos 1, 2, 3, 4 y 5 del segundo párrafo del artículo <a href="#articulo-189">189</a>.</p>
  <p class="mt-2">La pena será no menor de quince ni mayor de veinticinco años si el agente actúa en calidad de jefe, cabecilla o dirigente de una organización destinada a perpetrar estos delitos.</p>
  <p class="mt-2">En los casos de concurso con delitos contra la vida, el cuerpo y la salud, la pena se aplica sin perjuicio de otra más grave que pudiera corresponder en cada caso.</p>
</ArticleBlock>
