---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Atentado contra la integridad nacional"
  id="articulo-325"
  label="Artículo 325.-"
>
  <span slot="lead">
    El que practica un acto dirigido a someter a la República, en todo o en parte, a la dominación extranjera o a hacer independiente una parte de la misma, será reprimido con pena privativa de libertad no menor de quince años.
  </span>
</ArticleBlock>
