---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-238"
  label="Artículo 238.-"
>
  <span slot="lead">(*) Artículo derogado por la segunda disposición derogatoria del Decreto Legislativo N° 1044, publicado el 26 de junio de 2008.</span>
</ArticleBlock>
