---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Decomiso"
  id="articulo-401-a"
  label="Artículo 401-A.-"
>
  <span slot="lead">
    En todo caso, los donativos, dádivas o presentes serán decomisados.
  </span>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 del Decreto Ley Nº 25489, publicado el 10 de mayo de 1992.</p>
</ArticleBlock>
