---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Violación sexual de menor de edad"
  id="articulo-173"
  label="Artículo 173.-"
>
  <span slot="lead">El que tiene acceso carnal por vía vaginal, anal o bucal o realiza cualquier otro acto análogo con la introducción de un objeto o parte del cuerpo por alguna de las dos primeras vías, con un menor de catorce años, será reprimido con pena de cadena perpetua.</span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto de 2018.</p>
</ArticleBlock>
