---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Publicación indebida de correspondencia"
  id="articulo-164"
  label="Artículo 164.-"
>
  <span slot="lead">El que publica, indebidamente, una correspondencia epistolar o telegráfica, no destinada a la publicidad, aunque le haya sido dirigida, será reprimido, si el hecho causa algún perjuicio a otro, con limitación de días libres de veinte a cincuentidós jornadas.</span>
</ArticleBlock>
