---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Patrocinio indebido de abogado o mandatario judicial"
  id="articulo-421"
  label="Artículo 421.-"
>
  <span slot="lead">
    El Abogado o mandatario judicial que, después de haber patrocinado o representado a una parte en un proceso judicial o administrativo, asume la defensa o representación de la parte contraria en el mismo proceso, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
