---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Conducción en estado de ebriedad o drogadicción"
  id="articulo-274"
  label="Artículo 274.-"
>
  <span slot="lead">
    El que encontrándose en estado de ebriedad, con presencia de alcohol en la sangre en proporción mayor de 0.5 gramos-litro, o bajo el efecto de drogas tóxicas, estupefacientes, sustancias psicotrópicas o sintéticas, conduce, opera o maniobra vehículo motorizado, será reprimido con pena privativa de la libertad no menor de seis meses ni mayor de dos años o con prestación de servicios comunitarios de cincuenta y dos a ciento cuatro jornadas e inhabilitación, conforme al artículo 36 inciso 7).
  </span>
  <p class="mt-2">
    Cuando el agente presta servicios de transporte público de pasajeros, mercancías o carga en general, encontrándose en estado de ebriedad, con presencia de alcohol en la sangre en proporción superior de 0.25 gramos-litro, o bajo el efecto de drogas tóxicas, estupefacientes, sustancias psicotrópicas o sintéticas, la pena privativa de libertad será no menor de uno ni mayor de tres años o con prestación de servicios comunitarios de setenta a ciento cuarenta jornadas e inhabilitación conforme al artículo 36, inciso 7).
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 29439, publicada el 19 de noviembre de 2009.</p>
</ArticleBlock>
