---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Comercialización ilegal de servicios públicos móviles"
  id="articulo-272-b"
  label="Artículo 272-B.-"
>
  <span slot="lead">
    El que ofrezca, promocione, comercialice o realice contrataciones de servicios públicos móviles de forma ambulatoria o en la vía pública, salvo aquellos casos que la norma lo autorice, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años y con una multa de trescientos sesenta y cinco a setecientos treinta días-multa.
  </span>
  <p class="mt-2">
    (*) Artículo incorporado por el artículo 3 de la Ley Nº 32451, publicada el 30 de setiembre de 2025.
  </p>
</ArticleBlock>
