---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Alteración del ambiente o paisaje"
  id="articulo-313"
  label="Artículo 313.-"
>
  <span slot="lead">
    El que, contraviniendo las disposiciones de la autoridad competente, altera el ambiente natural o el paisaje urbano o rural, o modifica la flora o fauna, mediante la construcción de obras o tala de árboles, será reprimido con pena privativa de libertad no mayor de cuatro años y con sesenta a noventa días-multa.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo 3 de la Ley N° 29263, publicada el 2 de octubre de 2008.</p>
</ArticleBlock>
