---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Conductas atípicas"
  id="articulo-133"
  label="Artículo 133.-"
>
  <span slot="lead">No se comete injuria ni difamación cuando se trata de:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Ofensas proferidas con ánimo de defensa por los litigantes, apoderados o abogados en sus intervenciones orales o escritas ante el Juez.</li>
    <li>Críticas literarias, artísticas o científicas.</li>
    <li>Apreciaciones o informaciones que contengan conceptos desfavorables cuando sean realizadas por un funcionario público en cumplimiento de sus obligaciones.</li>
  </ol>
</ArticleBlock>
