---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tentativa"
  id="articulo-16"
  label="Artículo 16.-">
  <span slot="lead">En la tentativa el agente comienza la ejecución de un delito, que decidió cometer, sin consumarlo.</span>
  <p class="mt-2">El juez reprimirá la tentativa disminuyendo prudencialmente la pena, excepto en los casos de los delitos regulados en los artículos <a href="#articulo-108-B">108-B</a>, <a href="#articulo-152">152</a>, <a href="#articulo-189">189</a>, <a href="#articulo-200">200</a>, con excepción de los párrafos tercero y cuarto, y <a href="#articulo-317">317</a> o en los delitos comprendidos en el Título I-A y en el Capítulo IX del Título IV del Libro Segundo, donde la disminución no es mayor que un tercio del mínimo de la pena fijada por ley. (*) Artículo modificado por el artículo único de la Ley N° 32258, publicada el 14 de marzo de 2025.</p>
</ArticleBlock>
