---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Prohibición de reunión pública lícita por funcionario público"
  id="articulo-167"
  label="Artículo 167.-"
>
  <span slot="lead">El funcionario público que abusando de su cargo no autoriza, no garantiza, prohíbe o impide una reunión pública, lícitamente convocada, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años e inhabilitación de uno a dos años conforme el artículo 36, incisos 1, 2 y 3.</span>
</ArticleBlock>
