---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Hurto de uso"
  id="articulo-187"
  label="Artículo 187.-"
>
  <span slot="lead">El que sustrae un bien mueble ajeno con el fin de hacer uso momentáneo y lo devuelve será reprimido con pena privativa de libertad no mayor de un año.</span>
</ArticleBlock>
