---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Extinción de la ejecución de la pena. Casos"
  id="articulo-85"
  label="Artículo 85.-"
>
  <span slot="lead">La ejecución de la pena se extingue:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Por muerte del condenado, amnistía, indulto y prescripción;</li>
    <li>Por cumplimiento de la pena;</li>
    <li>Por exención de pena; y</li>
    <li>Por perdón del ofendido en los delitos de acción privada.</li>
  </ol>
</ArticleBlock>
