---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Apología del delito de terrorismo"
  id="articulo-316-a"
  label="Artículo 316-A.-"
>
  <span slot="lead">
    Si la exaltación, justificación o enaltecimiento se hace del delito de terrorismo o de cualquiera de sus tipos, o de la persona que haya sido condenada por sentencia firme como autor o partícipe, la pena será no menor de cuatro años ni mayor de ocho años, trescientos días multa e inhabilitación conforme a los incisos 2, 4, 6 y 8 del artículo 36 del Código Penal.
  </span>
  <p class="mt-2">
    Si la exaltación, justificación o enaltecimiento del delito de terrorismo se realiza: a) en ejercicio de la condición de autoridad, docente o personal administrativo de una institución educativa, o b) utilizando o facilitando la presencia de menores de edad, la pena será no menor de seis años ni mayor de diez años e inhabilitación, conforme a los incisos 1, 2, 4 y 9 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">
    Si la exaltación, justificación o enaltecimiento se propaga mediante objetos, libros, escritos, imágenes visuales o audios, o se realiza a través de imprenta, radiodifusión u otros medios de comunicación social o mediante el uso de tecnologías de la información o de la comunicación, del delito de terrorismo o de la persona que haya sido condenada por sentencia firme como autor o partícipe de actos de terrorismo, la pena será no menor de ocho años ni mayor de quince años e inhabilitación, conforme a los incisos 1, 2, 4 y 9 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">(*) Artículo incorporado por el artículo único de la Ley N° 30610, publicada el 19 de julio de 2017.</p>
</ArticleBlock>
