---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Alteración o supresión del estado civil"
  id="articulo-143"
  label="Artículo 143.-"
>
  <span slot="lead">El que, con perjuicio ajeno, altera o suprime el estado civil de otra persona será reprimido con pena privativa de libertad no mayor de dos años o con prestación de servicio comunitario de veinte a cincuentidós jornadas.</span>
</ArticleBlock>
