---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Plazo del pago de multa"
  id="articulo-44"
  label="Artículo 44.-"
>
  <span slot="lead">La multa deberá ser pagada dentro de los diez días de pronunciada la sentencia.</span>
  <p class="mt-2">A pedido del condenado y de acuerdo a las circunstancias, el Juez podrá permitir que el pago se efectúe en cuotas mensuales.</p>
  <p class="mt-2">El cobro de la multa se podrá efectuar mediante el descuento de la remuneración del condenado cuando se aplica aisladamente o cuando se aplica acumulativamente con pena limitativa de derechos o fuere concedida la suspensión condicional de la pena, conforme a los límites previstos en el <a href="#articulo-42">artículo 42</a>.</p>
  <p class="mt-2">El descuento no debe incidir sobre los recursos indispensables para el sustento del condenado y su familia.</p>
</ArticleBlock>
