---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fabricación fraudulenta o falsificación de marcas o contraseñas oficiales"
  id="articulo-435"
  label="Artículo 435.-"
>
  <span slot="lead">
    El que fabrica, fraudulentamente, o falsifica marcas o contraseñas oficiales destinadas a hacer constar el resultado de un examen de la autoridad o la concesión de un permiso o la identidad de un objeto o el que a sabiendas de su procedencia ilícita hace uso de tales marcas, será reprimido con pena privativa de libertad no mayor de tres años.
  </span>
</ArticleBlock>
