---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Retención indebida de divisas"
  id="articulo-260"
  label="Artículo 260.-"
>
  <span slot="lead">
    El que, teniendo obligación de hacerlo, no entrega, indebidamente, al Banco Central de Reserva las divisas generadas por exportaciones o las retiene, injustificadamente, luego de vencido el plazo establecido, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años, con ciento ochenta a trescientos sesenticinco días-multa e inhabilitación conforme al artículo <a href="#articulo-36">36</a>, incisos 1, 2 y 4.
  </span>
</ArticleBlock>
