---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Espionaje"
  id="articulo-331"
  label="Artículo 331.-"
>
  <span slot="lead">
    El que espía para comunicar o comunica o hace accesibles a un Estado extranjero o al público, hechos, disposiciones u objetos mantenidos en secreto por interesar a la defensa nacional, será reprimido con pena privativa de libertad no menor de quince años.
  </span>
  <p class="mt-2">Si el agente obró por culpa la pena será no mayor de cinco años.</p>
</ArticleBlock>
