---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Condena no pronunciada"
  id="articulo-61"
  label="Artículo 61.-"
>
  <span slot="lead">La condena se considera como no pronunciada si transcurre el plazo de prueba sin que el condenado cometa nuevo delito doloso, ni infrinja de manera persistente y obstinada las reglas de conducta establecidas en la sentencia.</span>
</ArticleBlock>
