---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Concurso real de delitos"
  id="articulo-50"
  label="Artículo 50.-"
>
  <span slot="lead">Cuando concurran varios hechos punibles que deban considerarse como otros tantos delitos independientes, se sumarán las penas privativas de libertad que fije el juez para cada uno de ellos hasta un máximo del doble de la pena del delito más grave, no pudiendo exceder de 35 años.</span>
  <p class="mt-2">Si alguno de estos delitos se encuentra reprimido con cadena perpetua se aplicará únicamente ésta.” (*) Artículo modificado por el artículo 3 de la Ley N° 28730, publicada el 13 de mayo de 2006.</p>
</ArticleBlock>
