---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ejercicio ilegal de profesión"
  id="articulo-363"
  label="Artículo 363.-"
>
  <span slot="lead">
    El que ejerce profesión sin reunir los requisitos legales requeridos, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años.
  </span>
  <p class="mt-2">El que ejerce profesión con falso título, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de seis años.</p>
  <p class="mt-2">
    La pena será no menor de cuatro ni mayor de ocho años, si el ejercicio de la profesión se da en el ámbito de la función pública o prestando servicios al Estado bajo cualquier modalidad contractual.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley Nº 28538, publicada el 7 de junio de 2005.</p>
</ArticleBlock>
