---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Posesión o comercialización de equipos destinados a la interceptación telefónica o similar"
  id="articulo-162-A"
  label="Artículo 162-A.-"
>
  <span slot="lead">El que fabrica, adquiere, introduce al territorio nacional, posee o comercializa equipos o softwares destinados a interceptar ilegalmente las comunicaciones o similares, será reprimido con pena privativa de la libertad no menor de diez ni mayor de quince años.</span>
  <p class="mt-2">(*) Artículo incorporado por la segunda disposición complementaria modificatoria del Decreto Legislativo N° 1182, publicado el 27 de julio de 2015.</p>
</ArticleBlock>
