---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Denegación o deficiente apoyo policial"
  id="articulo-378"
  label="Artículo 378.-"
>
  <span slot="lead">
    El policía que rehúsa, omite o retarda, sin causa justificada, la prestación de un auxilio legalmente requerido por la autoridad civil competente, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
  <p class="mt-2">
    Si la prestación de auxilio es requerida por un particular en situación de peligro, la pena será no menor de dos ni mayor de cuatro años.
  </p>
  <p class="mt-2">
    La pena prevista en el párrafo segundo se impondrá, si la prestación de auxilio está referida a una solicitud de garantías personales o un caso de violencia familiar.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por la primera disposición complementaria modificatoria de la Ley N° 30364, publicada el 23 de noviembre de 2015.
  </p>
</ArticleBlock>
