---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Aplicación suplementaria del Código Civil"
  id="articulo-101"
  label="Artículo 101.-"
>
  <span slot="lead">La reparación civil se rige, además, por las disposiciones pertinentes del Código Civil.</span>
</ArticleBlock>
