---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Soborno internacional pasivo"
  id="articulo-393-a"
  label="Artículo 393-A.-"
>
  <span slot="lead">
    El funcionario o servidor público extranjero que acepta, recibe o solicita, directa o indirectamente, donativo, promesa o cualquier otra ventaja o beneficio, para realizar u omitir un acto en el ejercicio de sus funciones Oficiales, en violación de sus obligaciones, o las acepta como consecuencia de haber faltado a ellas, para obtener o retener un negocio u otra ventaja indebida, en la realización de actividades económicas internacionales, será reprimido con pena privativa de libertad no menor de cinco ni mayor de ocho años; inhabilitación, según corresponda, conforme a los incisos 1, 2 y 8 del artículo <a href="#articulo-36">36</a>; y, con trescientos sesenta y cinco a setecientos treinta días-multa.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 31501, publicada el 29 de junio de 2022.</p>
</ArticleBlock>
