---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Aborto sin consentimiento"
  id="articulo-116"
  label="Artículo 116.-"
>
  <span slot="lead">El que hace abortar a una mujer sin su consentimiento, será reprimido con pena privativa de libertad no menor de tres ni mayor de cinco años.</span>
  <p class="mt-2">Si sobreviene la muerte de la mujer y el agente pudo prever este resultado, la pena será no menor de cinco ni mayor de diez años.</p>
</ArticleBlock>
