---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fabricación, suministro o tenencia de materiales peligrosos y residuos peligrosos"
  id="articulo-279"
  label="Artículo 279.-"
>
  <span slot="lead">
    El que, sin estar debidamente autorizado, fabrica, ensambla, modifica, almacena, suministra, comercializa, ofrece o tiene en su poder bombas, artefactos o materiales explosivos, inflamables, asfixiantes o tóxicos o sustancias o materiales destinados para su preparación, será reprimido con pena privativa de libertad no menor de seis ni mayor de quince años, e inhabilitación conforme al inciso 6 del artículo 36 del Código Penal.
  </span>
  <p class="mt-2">Será sancionado con la misma pena el que presta o alquila, los bienes a los que se hacen referencia en el primer párrafo.</p>
  <p class="mt-2">
    El que trafica con bombas, artefactos o materiales explosivos, inflamables, asfixiantes o tóxicos o sustancias o materiales destinados para su preparación, será reprimido con pena privativa de libertad no menor de seis ni mayor de quince años, e inhabilitación conforme al inciso 6 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">
    El que, sin estar debidamente autorizado, transforma o transporta materiales y residuos peligrosos sólidos, líquidos, gaseosos u otros, que ponga en peligro la vida, salud, patrimonio público o privado y el medio ambiente, será sancionado con la misma pena que el párrafo anterior.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1244, publicado el 29 de octubre de 2016.</p>
</ArticleBlock>
