---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Error de tipo y error de prohibición"
  id="articulo-14"
  label="Artículo 14.-"
>
  <span slot="lead">El error sobre un elemento del tipo penal o respecto a una circunstancia que agrave la pena, si es invencible, excluye la responsabilidad o la agravación. Si fuere vencible, la infracción será castigada como culposa cuando se hallare prevista como tal en la ley.</span>
  <p class="body-text mt-2">El error invencible sobre la ilicitud del hecho constitutivo de la infracción penal, excluye la responsabilidad. Si el error fuere vencible se atenuará la pena.</p>
</ArticleBlock>
