---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Receptación"
  id="articulo-194"
  label="Artículo 194.-"
>
  <span slot="lead">El que adquiere, recibe en donación, en prenda, guarda, esconde, expone para la venta, ayuda a negociar, comercializa, desensambla o utiliza, un bien o sus partes de cuya procedencia delictuosa tenía conocimiento o debía presumir que provenía de un delito, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años y con treinta a noventa días-multa e inhabilitación, conforme al numeral 4 del artículo <a href="#articulo-36">36</a> del Código Penal.</span>
  <p class="mt-2">La misma pena se aplica al que provea documentos para ocultar, encubrir o disimular el origen ilícito de un bien o sus partes, contribuyendo con las conductas descritas en el párrafo precedente.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1578, publicado el 18 de octubre de 2023.</p>
</ArticleBlock>
