---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Provocación pública a la desobediencia militar"
  id="articulo-333"
  label="Artículo 333.-"
>
  <span slot="lead">
    El que provoca públicamente a la desobediencia de una orden militar o a la violación de los deberes propios del servicio o al rehusamiento o deserción, será reprimido con pena privativa de libertad no mayor de cuatro años.
  </span>
</ArticleBlock>
