---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cohecho pasivo impropio en el ejercicio de la función policial y penitenciaria"
  id="articulo-395-b"
  label="Artículo 395-B.-"
>
  <span slot="lead">
    El miembro de la Policía Nacional o del Sistema Penitenciario que acepte o recibe donativo, promesa o cualquier otra ventaja o beneficio indebido para realizar u omitir un acto propio de su función, sin faltar a su obligación, o como consecuencia del acto ya realizado u omitido, será reprimido con pena privativa de la libertad no menor de cuatro ni mayor de siete años e inhabilitación conforme a los incisos 1, 2 y 8 del artículo 36.
  </span>
  <p class="mt-2">
    El miembro de la Policía Nacional o del Sistema Penitenciario que solicita, directa o indirectamente, donativo, promesa o cualquier otra ventaja indebida para realizar u omitir un acto propio de su función, sin faltar a su obligación, o como consecuencia del acto ya realizado u omitido, será reprimido con pena privativa de libertad no menor de cinco ni mayor de ocho años e inhabilitación conforme a los incisos 1, 2 y 8 del artículo 36.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por la primera disposición complementaria modificatoria del Decreto Legislativo N° 1688, publicado el 2 de octubre de 2024.
  </p>
</ArticleBlock>
