---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Homicidio por emoción violenta"
  id="articulo-109"
  label="Artículo 109.-"
>
  <span slot="lead">El que mata a otro bajo el imperio de una emoción violenta que las circunstancias hacen excusable, será reprimido con pena privativa de libertad, no menor de tres ni mayor de cinco años.</span>
  <p class="mt-2">Si concurre algunas de las circunstancias previstas en el artículo <a href="#articulo-107">107</a>, la pena será no menor de cinco ni mayor de diez años.</p>
</ArticleBlock>
