---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Requerimiento indebido de la fuerza pública"
  id="articulo-379"
  label="Artículo 379.-"
>
  <span slot="lead">
    El funcionario público que requiere la asistencia de la fuerza pública para oponerse a la ejecución de disposiciones u órdenes legales de la autoridad o contra la ejecución de sentencia o mandato judicial, será reprimido con pena privativa de libertad no mayor de tres años.
  </span>
</ArticleBlock>
