---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Actos de hostilidad ordenados por beligerantes"
  id="articulo-343"
  label="Artículo 343.-"
>
  <span slot="lead">
    El que, con ocasión de guerra en que la República haya declarado su neutralidad, practica actos destinados a realizar en el país las medidas de hostilidad ordenadas por los beligerantes, será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
