---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tratamiento ambulatorio"
  id="articulo-76"
  label="Artículo 76.-"
>
  <span slot="lead">El tratamiento ambulatorio será establecido y se aplicará conjuntamente con la pena al imputable relativo que lo requiera con fines terapéuticos o de rehabilitación.</span>
</ArticleBlock>
