---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Violación de tratados o convenciones de paz"
  id="articulo-340"
  label="Artículo 340.-"
>
  <span slot="lead">
    El que viola los tratados o convenciones de paz vigentes entre el Perú y otros Estados o las treguas o los armisticios, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
