---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Complicidad primaria y complicidad secundaria"
  id="articulo-25"
  label="Artículo 25.-"
>
  <span slot="lead">El que, dolosamente, preste auxilio para la realización del hecho punible, sin el cual no se hubiere perpetrado, será reprimido con la pena prevista para el autor.</span>
  <p class="mt-2">A los que, de cualquier otro modo, hubieran dolosamente prestado asistencia se les disminuirá prudencialmente la pena.</p>
  <p class="mt-2">El cómplice siempre responde en referencia al hecho punible cometido por el autor, aunque los elementos especiales que fundamentan la penalidad del tipo legal no concurran en él.” (*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1351, publicado el 7 de enero de 2017.</p>
</ArticleBlock>
