---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Imprescriptibilidad de la pena y de la acción penal"
  id="articulo-88-A"
  label="Artículo 88-A.-"
>
  <span slot="lead">La pena y la acción penal son imprescriptibles en los delitos previstos en los artículos 153, 153-A, 153-B y 153-C y en los capítulos IX, X y XI del Título IV del Libro Segundo del Código Penal.” (*) Artículo incorporado por el artículo 2 de la Ley N° 30838, publicada el 4 de agosto de 2018.</span>
</ArticleBlock>
