---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Pena de expulsión"
  id="articulo-303"
  label="Artículo 303.-"
>
  <span slot="lead">
    El extranjero que haya cumplido la pena privativa de libertad impuesta o se le haya concedido un beneficio penitenciario será expulsado del país, quedando prohibido su reingreso.
  </span>
  <p class="mt-2">
    (*) Artículo modificado por la segunda disposición complementaria modificatoria de la Ley N° 30219, publicado el 8 de julio de 2014.
  </p>
</ArticleBlock>
