---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sedición"
  id="articulo-347"
  label="Artículo 347.-"
>
  <span slot="lead">
    El que, sin desconocer al gobierno legalmente constituido, se alza en armas para impedir que la autoridad ejerza libremente sus funciones o para evitar el cumplimiento de las leyes o resoluciones o impedir las elecciones generales, parlamentarias, regionales o locales, será reprimido con pena privativa de libertad no menor de cinco ni mayor de diez años.
  </span>
</ArticleBlock>
