---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Autorización ilegal de matrimonio"
  id="articulo-141"
  label="Artículo 141.-"
>
  <span slot="lead">El funcionario público que, a sabiendas, celebra un matrimonio ilegal será reprimido con pena privativa de libertad no menor de dos ni mayor de cinco años e inhabilitación de dos a tres años conforme al artículo 36, incisos 1, 2 y 3.</span>
  <p class="mt-2">Si el funcionario público obra por culpa, la pena será de inhabilitación no mayor de un año, conforme al artículo 36, incisos 1, 2 y 3.</p>
</ArticleBlock>
