---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Manejo ilegal de patrimonio de propósito exclusivo"
  id="articulo-213-A"
  label="Artículo 213-A.-"
>
  <span slot="lead">El factor fiduciario o quien ejerza el dominio fiduciario sobre un patrimonio fideicometido, o el director, gerente o quien ejerza la administración de una sociedad de propósito especial que, en beneficio propio o de terceros, efectúe actos de enajenación, gravamen, adquisición u otros en contravención del fin para el que fue constituido el patrimonio de propósito exclusivo, será reprimido con pena privativa de libertad no menor de dos (2), ni mayor de cuatro (4) años e inhabilitación de uno a dos (2) años conforme al artículo 36, incisos 2) y 4).</span>
  <p class="mt-2">(*) Artículo incorporado por la décimo segunda disposición final del Decreto Legislativo Nº 861, publicado el 22 de octubre de 1996.</p>
</ArticleBlock>
