---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Parricidio"
  id="articulo-107"
  label="Artículo 107.-"
>
  <span slot="lead">El que, a sabiendas, mata a su ascendiente, descendiente, natural o adoptivo, o a una persona con quien sostiene o haya sostenido una relación conyugal o de convivencia, será reprimido con pena privativa de libertad no menor de quince años.</span>
  <p class="mt-2">La pena privativa de libertad será no menor de veinticinco años, cuando concurra cualquiera de las circunstancias agravantes previstas en los numerales 1, 2, 3 y 4 del artículo <a href="#articulo-108">108</a>.” (*) Artículo modificado por el artículo 1 de la Ley Nº 30068, publicada el 18 de julio de 2013.</p>
  <p class="mt-2">“En caso de que el agente tenga hijos con la víctima, además será reprimido con la pena de inhabilitación prevista en el inciso 5 del artículo <a href="#articulo-36">36</a>.” (*) Párrafo incorporado por el artículo 1 de la Ley Nº 30323, publicada el 7 de mayo de 2015.</p>
</ArticleBlock>
