---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Contenido de la reparación civil"
  id="articulo-93"
  label="Artículo 93.-"
>
  <span slot="lead">La reparación comprende:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>La restitución del bien o, si no es posible, el pago de su valor; y</li>
    <li>La indemnización de los daños y perjuicios.</li>
  </ol>
</ArticleBlock>
