---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Conversión de la pena privativa de libertad en ejecución"
  id="articulo-52-A"
  label="Artículo 52-A.-"
>
  <span slot="lead">El juez competente puede convertir la pena privativa de libertad en ejecución de condena, por una pena limitativa de derechos, a razón de siete (7) días de privación de libertad por una jornada de prestación de servicios a la comunidad o por una jornada de limitación de días libres, según corresponda y siempre que se cumplan los supuestos de procedencia y requisitos establecidos en la ley de la materia.</span>
  <p class="mt-2">El juez también puede convertir la pena privativa de libertad no mayor de diez años en ejecución de condena por la de expulsión inmediata del país, siempre que haya cumplido los dos tercios de la condena, con excepción de los delitos tipificados en los artículos: <a href="#articulo-108-C">108-C</a>, <a href="#articulo-129-A">129-A</a>, <a href="#articulo-129-B">129-B</a>, <a href="#articulo-129-C">129-C</a>, <a href="#articulo-129-D">129-D</a>, <a href="#articulo-129-F">129-F</a>, <a href="#articulo-129-G">129-G</a>, <a href="#articulo-129-H">129-H</a>, <a href="#articulo-129-I">129-I</a>, <a href="#articulo-129-J">129-J</a>, <a href="#articulo-129-K">129-K</a>, <a href="#articulo-129-L">129-L</a>, <a href="#articulo-129-M">129-M</a>, <a href="#articulo-129-N">129-N</a>, 129-Ñ, <a href="#articulo-129-O">129-O</a>, <a href="#articulo-152">152</a>, <a href="#articulo-186">186</a>, <a href="#articulo-188">188</a>, <a href="#articulo-189">189</a>, <a href="#articulo-200">200</a>, <a href="#articulo-296">296</a>, <a href="#articulo-297">297</a>, <a href="#articulo-303-a">303-A</a>, <a href="#articulo-303-c">303-C</a>, <a href="#articulo-317">317</a> y <a href="#articulo-317-b">317-B</a>.” (*) Artículo modificado por el artículo 1 de la Ley N° 32372, publicada el 7 de junio de 2025.</p>
</ArticleBlock>
