---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Perturbación de reunión pública"
  id="articulo-166"
  label="Artículo 166.-"
>
  <span slot="lead">El que, con violencia o amenaza, impide o perturba una reunión pública lícita, será reprimido con pena privativa de libertad no mayor de un año y con sesenta a noventa días-multa.</span>
</ArticleBlock>
