---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Expedición de certificado médico falso"
  id="articulo-431"
  label="Artículo 431.-"
>
  <span slot="lead">
    El médico que, maliciosamente, expide un certificado falso respecto a la existencia o no existencia, presente o pasada, de enfermedades físicas o mentales, será reprimido con pena privativa de libertad no mayor de tres años e inhabilitación de uno a dos años conforme al artículo 36, incisos 1 y 2.
  </span>
  <p class="mt-2">
    Cuando se haya dado la falsa certificación con el objeto que se admita o interne a una persona en un hospital para enfermos mentales, la pena será privativa de libertad no menor de tres ni mayor de seis años e inhabilitación de dos a cuatro años conforme al artículo 36, incisos 1 y 2.
  </p>
  <p class="mt-2">
    El que haga uso malicioso de la certificación, según el caso de que se trate, será reprimido con las mismas penas privativas de libertad.
  </p>
</ArticleBlock>
