---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Abandono y actos de crueldad contra animales domésticos y silvestres"
  id="articulo-206-A"
  label="Artículo 206-A.-"
>
  <span slot="lead">El que comete actos de crueldad contra un animal doméstico o un animal silvestre, o los abandona, es reprimido con pena privativa de libertad no mayor de tres años, con cien a ciento ochenta días-multa y con inhabilitación de conformidad con el numeral 13 del artículo 36.</span>
  <p class="mt-2">Si como consecuencia de estos actos de crueldad o del abandono el animal doméstico o silvestre muere, la pena es privativa de libertad no menor de tres ni mayor de cinco años, con ciento cincuenta a trescientos sesenta días-multa y con inhabilitación de conformidad con el numeral 13 del artículo 36.</p>
  <p class="mt-2">(*) Artículo incorporado por la segunda disposición complementaria modificatoria de la Ley N° 30407, publicada el 8 de enero de 2016.</p>
</ArticleBlock>
