---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Acoso"
  id="articulo-151-A"
  label="Artículo 151-A.-"
>
  <span slot="lead">El que, de forma reiterada, continua o habitual, y por cualquier medio, vigila, persigue, hostiga, asedia o busca establecer contacto o cercanía con una persona sin su consentimiento, de modo que pueda alterar el normal desarrollo de su vida cotidiana, será reprimido con pena privativa de la libertad no menor de uno ni mayor de cuatro años, inhabilitación, según corresponda, conforme a los incisos 10 y 11 del artículo <a href="#articulo-36">36</a>, y con sesenta a ciento ochenta días-multa.</span>
  <p class="mt-2">La misma pena se aplica al que, por cualquier medio, vigila, persigue, hostiga, asedia o busca establecer contacto o cercanía con una persona sin su consentimiento, de modo que altere el normal desarrollo de su vida cotidiana, aun cuando la conducta no hubiera sido reiterada, continua o habitual.</p>
  <p class="mt-2">Igual pena se aplica a quien realiza las mismas conductas valiéndose del uso de cualquier tecnología de la información o de la comunicación.</p>
  <p class="mt-2">La pena privativa de la libertad será no menor de cuatro ni mayor de siete años, inhabilitación, según corresponda, conforme a los incisos 10 y 11 del artículo <a href="#articulo-36">36</a>, y de doscientos ochenta a trescientos sesenta y cinco días-multa, si concurre alguna de las circunstancias agravantes:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>La víctima es menor de edad, es persona adulta mayor, se encuentra en estado de gestación o es persona con discapacidad.</li>
    <li>La víctima y el agente tienen o han tenido una relación de pareja, son o han sido convivientes o cónyuges, tienen vínculo parental consanguíneo o por afinidad.</li>
    <li>La víctima habita en el mismo domicilio que el agente o comparten espacios comunes de una misma propiedad.</li>
    <li>La víctima se encuentre en condición de dependencia o subordinación con respecto al agente.</li>
    <li>La conducta se lleva a cabo en el marco de una relación laboral, educativa o formativa de la víctima.</li>
  </ol>
  <p class="mt-2">(*) Artículo incorporado por el artículo 2 del Decreto Legislativo N° 1410, publicado el 12 de setiembre de 2018.</p>
</ArticleBlock>
