---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Extracción ilegal de bienes culturales y del patrimonio paleontológico del Perú"
  id="articulo-228"
  label="Artículo 228.-"
>
  <span slot="lead">El que destruye, altera, extrae del país o comercializa bienes del patrimonio cultural prehispánico o del patrimonio paleontológico del Perú, o no los retorna de conformidad con la autorización que le fue concedida, será reprimido con pena privativa de libertad no menor de tres ni mayor de ocho años y con ciento ochenta a trescientos sesenta y cinco días multa.</span>
  <p class="mt-2">En el caso de que el agente sea un funcionario o servidor público con deberes de custodia de los bienes, la pena será no menor de cinco ni mayor de diez años.</p>
  <p class="mt-2">(*) Artículo modificado por la segunda disposición complementaria final de la Ley N° 31204, publicada el 29 de mayo de 2021.</p>
</ArticleBlock>
