---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Actos de menosprecio"
  id="articulo-345"
  label="Artículo 345.-"
>
  <span slot="lead">
    El que, por acto de menosprecio, usa como marca de fábrica o en artículos comerciales, en estampados de vestimentas o de cualquier otra manera, algún símbolo de la Patria o símbolo del Estado o emblema nacional o la imagen de algún precursor, prócer, héroe, libertador o mártir, establecido o reconocido por ley, será reprimido con pena privativa de libertad no mayor de un año, o con prestación de servicio comunitario de veinte a treinta jornadas.
  </span>
  <p class="mt-2">(*) Artículo modificado por la única disposición complementaria modificatoria de la Ley N° 32251, publicada el 19 de enero de 2025.</p>
</ArticleBlock>
