---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fabricación y falsificación de moneda de curso legal"
  id="articulo-252"
  label="Artículo 252.-"
>
  <span slot="lead">El que falsifica billetes o monedas será reprimido con pena privativa de libertad no menor de cinco ni mayor de doce años y con ciento veinte a trescientos días-multa.</span>
  <p class="mt-2">El que falsifica billetes o monedas separando el anverso y el reverso de los auténticos, superponiendo sus fragmentos, recurriendo al empleo de disolventes químicos, usando los fabricados por otros países, recurriendo a aleaciones distintas o valiéndose de cualquier otro medio que no fuere de producción masiva, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de diez años y con ciento veinte a trescientos días-multa.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley Nº 26714, publicada el 27 de diciembre de 1996.</p>
</ArticleBlock>
