---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Difamación o injuria encubierta o equívoca"
  id="articulo-136"
  label="Artículo 136.-"
>
  <span slot="lead">El acusado de difamación o injuria encubierta o equívoca que rehusa dar en juicio explicaciones satisfactorias, será considerado como agente de difamación o injuria manifiesta.</span>
</ArticleBlock>
