---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Forma culposa"
  id="articulo-282"
  label="Artículo 282.-"
>
  <span slot="lead">
    El que, por culpa, ocasiona alguno de los hechos de peligro previstos en los artículos <a href="#articulo-280">280</a> y <a href="#articulo-281">281</a> será reprimido con pena privativa de libertad no mayor de dos años.
  </span>
</ArticleBlock>
