---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Abandono de mujer gestante y en situación crítica"
  id="articulo-150"
  label="Artículo 150.-"
>
  <span slot="lead">El que abandona a una mujer en gestación, a la que ha embarazado y que se halla en situación crítica, será reprimido con pena privativa de libertad no menor de seis meses ni mayor de cuatro años y con sesenta a noventa días-multa.</span>
</ArticleBlock>
