---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Beneficio de la explotación sexual de niñas, niños y adolescentes"
  id="articulo-129-K"
  label="Artículo 129-K.-"
>
  <span slot="lead">El que, sin participar de los actos de explotación sexual de niña, niño o adolescente, recibe un beneficio económico o de otra índole derivado de dichos actos será reprimido con pena privativa de libertad no menor de diez ni mayor de quince años.</span>
  <p class="mt-2">El consentimiento brindado por el adolescente carece de efectos jurídicos.</p>
  <p class="mt-2">La pena privativa de libertad será no menor de quince ni mayor de veinte años si el agente:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Es promotor, integrante o representante de una organización social tutelar o empresarial que aprovecha esta condición y realiza actividades para perpetrar este delito.</li>
    <li>Tiene a la víctima bajo su cuidado o vigilancia, por cualquier motivo, o mantiene con ella un vínculo de superioridad, autoridad, poder o cualquier otra circunstancia que impulse a depositar la confianza en él.</li>
  </ol>
  <p class="mt-2">La pena privativa de libertad será no menor de veinte ni mayor de treinta años cuando:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>El agente sea ascendiente por consanguinidad, adopción o por afinidad, pariente colateral hasta el cuarto grado de consanguinidad o adopción, o segundo grado de afinidad, tutor, cónyuge, excónyuge, conviviente, exconviviente o tenga hijos en común con la víctima; o habite en el mismo domicilio de la víctima, siempre que no medien relaciones contractuales o laborales.</li>
    <li>Es un medio de subsistencia del agente.</li>
    <li>Existe pluralidad de víctimas.</li>
    <li>La víctima tenga discapacidad, padezca de una enfermedad grave o presenta cualquier situación de vulnerabilidad.</li>
    <li>La víctima pertenezca a un pueblo indígena u originario.</li>
    <li>Se derive de una situación de trata de personas.</li>
    <li>El agente actúe como integrante de una banda o una organización criminal.</li>
    <li>La víctima esté en situación de abandono o de extrema necesidad económica.</li>
    <li>La víctima sea menor de catorce años.</li>
  </ol>
  <p class="mt-2">La pena privativa de libertad será no menor de treinta y cinco años si se causa la muerte de la víctima o se lesiona gravemente su salud física o mental.</p>
  <p class="mt-2">En todos los casos se impone, además, la pena de inhabilitación conforme al artículo <a href="#articulo-36">36</a>, incisos 1, 2, 3, 4, 5, 6, 8, 9,10 y 11.” (*) Artículo incorporado por el artículo 2 de la Ley N° 30963, publicada el 18 de junio de 2019.</p>
</ArticleBlock>
