---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Feminicidio"
  id="articulo-108-B"
  label="Artículo 108-B.-"
>
  <span slot="lead">Será reprimido con pena privativa de libertad no menor de veinte años el que mata a una mujer por su condición de tal, en cualquiera de los siguientes contextos:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Violencia familiar.</li>
    <li>Coacción, hostigamiento o acoso sexual.</li>
    <li>Abuso de poder, confianza o de cualquier otra posición o relación que le confiera autoridad al agente.</li>
    <li>Cualquier forma de discriminación contra la mujer, independientemente de que exista o haya existido una relación conyugal o de convivencia con el agente.</li>
  </ol>
  <p class="mt-2">La pena privativa de libertad será no menor de treinta años cuando concurra cualquiera de las siguientes circunstancias agravantes:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Si la víctima era menor de edad o adulta mayor.</li>
    <li>Si la víctima se encontraba en estado de gestación.</li>
    <li>Si la víctima se encontraba bajo cuidado o responsabilidad del agente.</li>
    <li>Si la víctima fue sometida previamente a violación sexual o actos de mutilación.</li>
    <li>Si al momento de cometerse el delito, la víctima tiene cualquier tipo de discapacidad.</li>
    <li>Si la víctima fue sometida para fines de trata de personas o cualquier tipo de explotación humana.</li>
    <li>Cuando hubiera concurrido cualquiera de las circunstancias agravantes establecidas en el artículo <a href="#articulo-108">108</a>.</li>
    <li>Si, en el momento de cometerse el delito, estuviera presente cualquier niña, niño o adolescente.</li>
    <li>Si el agente actúa en estado de ebriedad, con presencia de alcohol en la sangre en proporción mayor de 0.25 gramos-litro, o bajo efecto de drogas tóxicas, estupefacientes, sustancias psicotrópicas o sintéticas.</li>
  </ol>
  <p class="mt-2">La pena será de cadena perpetua cuando concurran dos o más circunstancias agravantes.</p>
  <p class="mt-2">En todas las circunstancias previstas en el presente artículo, se impondrá la pena de inhabilitación conforme a los numerales 5 y 11 del artículo <a href="#articulo-36">36</a> del presente Código y los artículos 75 y 77 del Código de los Niños y Adolescentes, según corresponda.” (*) Artículo modificado por el artículo 1 de la Ley N° 30819, publicada el 13 de julio de 2018.</p>
</ArticleBlock>
