---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Sustitución o impedimento de funciones en medio de transporte"
  id="articulo-285"
  label="Artículo 285.-"
>
  <span slot="lead">
    El que, mediante violencia, intimidación o fraude, sustituye o impide el cumplimiento de sus funciones al capitán, comandante o piloto de un medio de transporte, será reprimido con pena privativa de libertad no menor de uno ni mayor de cinco años.
  </span>
</ArticleBlock>
