---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Favorecimiento a la prostitución"
  id="articulo-179"
  label="Artículo 179.-"
>
  <span slot="lead">El que promueve o favorece la prostitución de otra persona, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de seis años.</span>
  <p class="mt-2">La pena será no menor de seis ni mayor de doce años cuando:</p>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>El agente cometa el delito en el ámbito del turismo, en el marco de la actividad de una persona jurídica o en el contexto de cualquier actividad económica.</li>
    <li>El agente es ascendiente o descendiente por consanguinidad, adopción o por afinidad, pariente colateral hasta el cuarto grado de consanguinidad o adopción o segundo grado de afinidad; cónyuge, excónyuge, conviviente, exconviviente o tenga hijos en común con la víctima; o habite en el mismo domicilio de la víctima, siempre que no medien relaciones contractuales o laborales.</li>
    <li>Es un medio de subsistencia del agente.</li>
    <li>La víctima esté en situación de abandono o extrema necesidad económica.</li>
    <li>Se realice respecto a una pluralidad de personas.</li>
    <li>La persona en prostitución tenga discapacidad, sea adulta mayor, padezca de una enfermedad grave, pertenezca a un pueblo indígena u originario o presente cualquier situación de vulnerabilidad.</li>
    <li>Cuando el agente, a sabiendas, favorezca o promueva actos de prostitución violentos que produzcan lesiones o ponga en peligro grave la integridad o la vida de quien realice la prostitución.</li>
    <li>El agente actúe como integrante de una banda u organización criminal.</li>
  </ol>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 30963, publicada el 18 de junio de 2019.</p>
</ArticleBlock>
