---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-426"
  label="Artículo 426.-"
>
  <span slot="lead">
    Los delitos previstos en los capítulos II y III de este título, que no contemplan la pena de inhabilitación, son sancionados, además, conforme a los incisos 1, 2, 4 y 8 del artículo <a href="#articulo-36">36</a>. La inhabilitación en este caso es de uno a cinco años.
  </span>
  <p class="mt-2">
    En el caso de los artículos <a href="#articulo-382">382</a>, <a href="#articulo-383">383</a>, <a href="#articulo-384">384</a>, <a href="#articulo-387">387</a>, <a href="#articulo-388">388</a>, <a href="#articulo-389">389</a>, <a href="#articulo-393">393</a>, <a href="#articulo-393-a">393-A</a>, <a href="#articulo-394">394</a>, <a href="#articulo-395">395</a>, <a href="#articulo-396">396</a>, <a href="#articulo-397">397</a>, <a href="#articulo-397-a">397-A</a>, <a href="#articulo-398">398</a>, <a href="#articulo-399">399</a>, <a href="#articulo-400">400</a> y <a href="#articulo-401">401</a> la pena de inhabilitación principal será de cinco a veinte años. En estos casos, será perpetua cuando ocurra cualquiera de los siguientes supuestos:
  </p>
  <p class="mt-2">1. El agente actúe como integrante de una organización criminal, como persona vinculada o por encargo de ella.</p>
  <p class="mt-2">2. La conducta recaiga sobre programas con fines asistenciales, de apoyo o inclusión social o de desarrollo.</p>
  <p class="mt-2">3. El agente se aproveche de una situación de calamidad pública o emergencia sanitaria, o la comisión del delito comprometa la defensa, seguridad o soberanía nacional.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 de la Ley N° 31178, publicada el 28 de abril 2021.</p>
</ArticleBlock>
