---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Destrucción o alteración de hitos fronterizos"
  id="articulo-327"
  label="Artículo 327.-"
>
  <span slot="lead">
    El que destruye o altera las señales que marcan los límites del territorio de la República o hace que éstos se confundan, será reprimido con pena privativa de libertad no menor de cinco ni mayor de diez años.
  </span>
</ArticleBlock>
