---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Suplantación de votante"
  id="articulo-357"
  label="Artículo 357.-"
>
  <span slot="lead">
    El que suplanta a otro votante o vota más de una vez en la misma elección o sufraga sin tener derecho, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.
  </span>
</ArticleBlock>
