---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Formas agravadas"
  id="articulo-129"
  label="Artículo 129.-"
>
  <span slot="lead">En los casos de los Artículos 125 y 128, si resulta lesión grave o muerte y éstas pudieron ser previstas, la pena será privativa de libertad no menor de tres ni mayor de seis años en caso de lesión grave y no menor de cuatro ni mayor de ocho en caso de muerte.” (*) Artículo modificado por el artículo 3 de la Ley Nº 26926, publicada el 21 de febrero de 1998.</span>
</ArticleBlock>
