---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Importe del día-multa"
  id="articulo-43"
  label="Artículo 43.-"
>
  <span slot="lead">El importe del día-multa no podrá ser menor del veinticinco por ciento ni mayor del cincuenta por ciento del ingreso diario del condenado cuando viva exclusivamente de su trabajo.</span>
</ArticleBlock>
