---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Clases de pena"
  id="articulo-28"
  label="Artículo 28.-"
>
  <span slot="lead">Las penas aplicables de conformidad con este Código son:</span>
  <ul class="mt-2 ml-6 list-disc space-y-1">
    <li>Privativa de libertad;</li>
    <li>Restrictivas de libertad;</li>
    <li>Limitativas de derechos; y</li>
    <li>Multa.</li>
  </ul>
</ArticleBlock>
