---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Inhabilitación"
  id="articulo-436"
  label="Artículo 436.-"
>
  <span slot="lead">
    Cuando el agente de alguno de los delitos comprendidos en este Capítulo es funcionario o servidor público, será reprimido, además, con pena de inhabilitación de uno a tres años conforme al artículo <a href="#articulo-36">36</a> incisos 1 y 2.
  </span>
</ArticleBlock>
