---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Propagación de enfermedad peligrosa o contagiosa"
  id="articulo-289"
  label="Artículo 289.-"
>
  <span slot="lead">
    El que, a sabiendas, propaga una enfermedad peligrosa o contagiosa para la salud de las personas, será reprimido con pena privativa de libertad no menor de tres ni mayor de diez años.
  </span>
  <p class="mt-2">
    Si resultan lesiones graves o muerte y el agente pudo prever estos resultados, la pena será no menor de diez ni mayor de veinte años.
  </p>
</ArticleBlock>
