---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Favorecimiento bélico a Estado extranjero"
  id="articulo-332"
  label="Artículo 332.-"
>
  <span slot="lead">
    El que entrega a un Estado extranjero bienes destinados a la defensa nacional o le favorece mediante servicios o socorros que pueda debilitarla, será reprimido con pena privativa de libertad no menor de quince años.
  </span>
  <p class="mt-2">Si el agente actúa por lucro o por cualquier otro móvil innoble la pena será no menor de veinte años.</p>
</ArticleBlock>
