---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Injurias recíprocas"
  id="articulo-137"
  label="Artículo 137.-"
>
  <span slot="lead">En el caso de injurias recíprocas proferidas en el calor de un altercado, el Juez podrá, según las circunstancias, declarar exentas de pena a las partes o a una de ellas.</span>
  <p class="mt-2">No es punible la injuria verbal provocada por ofensas personales.</p>
</ArticleBlock>
