---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Delitos y faltas"
  id="articulo-11"
  label="Artículo 11.-"
>
  <span slot="lead">Son delitos y faltas las acciones u omisiones dolosas o culposas penadas por la ley.</span>
</ArticleBlock>
