---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Tráfico ilegal de productos forestales maderables"
  id="articulo-310-a"
  label="Artículo 310-A.-"
>
  <span slot="lead">
    El que adquiere, acopia, almacena, transforma, transporta, oculta, custodia, comercializa, embarca, desembarca, importa, exporta o reexporta productos o especímenes forestales maderables, cuyo origen ilícito, conoce o puede presumir, será reprimido con pena privativa de libertad no menor de cuatro años ni mayor de siete años y con cien a seiscientos días-multa.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo único del Decreto Legislativo N° 1237, publicado el 26 de setiembre de 2015.</p>
</ArticleBlock>
