---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Daños de obras para la defensa común"
  id="articulo-277"
  label="Artículo 277.-"
>
  <span slot="lead">
    El que daña o inutiliza diques u obras destinadas a la defensa común contra desastres, perjudicando su función preventiva, o el que, para impedir o dificultar las tareas de defensa, sustrae, oculta, destruye o inutiliza materiales, instrumentos u otros medios destinados a la defensa común, será reprimido con pena privativa de libertad no menor de tres ni mayor de ocho años.
  </span>
</ArticleBlock>
