---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ingreso de animales en inmueble ajeno"
  id="articulo-447"
  label="Artículo 447.-"
>
  <span slot="lead">
    El encargado de la custodia de ganado o de animal doméstico que lo introduce o lo deja entrar en inmueble ajeno sin causar daño, no teniendo derecho o permiso para ello, será reprimido hasta con veinte días-multa.
  </span>
</ArticleBlock>
