---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Homicidio piadoso"
  id="articulo-112"
  label="Artículo 112.-"
>
  <span slot="lead">El que, por piedad, mata a un enfermo incurable que le solicita de manera expresa y consciente para poner fin a sus intolerables dolores, será reprimido con pena privativa de libertad no mayor de tres años.</span>
</ArticleBlock>
