---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Perturbación de la tranquilidad"
  id="articulo-449"
  label="Artículo 449.-"
>
  <span slot="lead">
    El que, en lugar público, perturba la tranquilidad de las personas o pone en peligro la seguridad propia o ajena, en estado de ebriedad o drogadicción, será reprimido hasta con sesenta días-multa.
  </span>
</ArticleBlock>
