---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Cohecho activo en el ámbito de la función policial"
  id="articulo-398-a"
  label="Artículo 398-A.-"
>
  <span slot="lead">
    El que, bajo cualquier modalidad, ofrece, da o promete a un miembro de la Policía Nacional donativo o cualquier ventaja o beneficio para que realice u omita actos en violación de sus obligaciones derivadas de la función policial, será reprimido con pena privativa de libertad no menor de cuatro ni mayor de ocho años.
  </span>
  <p class="mt-2">
    El que, bajo cualquier modalidad, ofrece, da o promete a un miembro de la Policía Nacional donativo o cualquier ventaja o beneficio para que realice u omita actos propios de la función policial, sin faltar a las obligaciones que se derivan de ella, será reprimido con pena privativa de libertad no menor de tres ni mayor de seis años.
  </p>
  <p class="mt-2">(*) Artículo incorporado por el artículo 3 del Decreto Legislativo N° 1351, publicado el 7 de enero de 2017.</p>
</ArticleBlock>
