---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Violación de correspondencia"
  id="articulo-161"
  label="Artículo 161.-"
>
  <span slot="lead">El que abre, indebidamente, una carta, un pliego, telegrama, radiograma, despacho telefónico u otro documento de naturaleza análoga, que no le esté dirigido, o se apodera indebidamente de alguno de estos documentos, aunque no esté cerrado, será reprimido con pena privativa de libertad no mayor de dos años y con sesenta a noventa días-multa.</span>
</ArticleBlock>
