---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Aplicación de internación antes de la pena. Cómputo"
  id="articulo-77"
  label="Artículo 77.-"
>
  <span slot="lead">Cuando se necesite aplicar una medida de internación a un imputable relativo, o a un toxicómano o alcohólico imputable, el Juez dispondrá que ella tenga lugar antes de la pena.</span>
  <p class="mt-2">El período de internación se computará como tiempo de cumplimiento de la pena sin perjuicio que el Juez pueda dar por extinguida la condena o reducir su duración atendiendo al éxito del tratamiento.</p>
</ArticleBlock>
