---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Atentado contra las condiciones de seguridad y salud en el trabajo"
  id="articulo-168-A"
  label="Artículo 168-A.-"
>
  <span slot="lead">El que, deliberadamente, infringiendo las normas de seguridad y salud en el trabajo y estando legalmente obligado, ponga en peligro inminente la vida, salud o integridad física de sus trabajadores de forma grave, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años.</span>
  <p class="mt-2">Si, como consecuencia de la inobservancia deliberada de las normas de seguridad y salud en el trabajo, se causa la muerte del trabajador o terceros o le producen lesión grave, y el agente pudo prever este resultado, la pena privativa de libertad será no menor de cuatro ni mayor de ocho años en caso de muerte y, no menor de tres ni mayor de seis años en caso de lesión grave.</p>
  <p class="mt-2">(*) Artículo modificado por la primera disposición complementaria modificatoria del Decreto de Urgencia N° 044-2019, publicado el 30 de diciembre de 2019.</p>
</ArticleBlock>
