---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Responsabilidad especial"
  id="articulo-178"
  label="Artículo 178.-"
>
  <span slot="lead">En los casos comprendidos en este capítulo, el juez penal debe resolver, de oficio o a petición de parte, sobre la obligación alimentaria a la prole que resulte, aplicando las normas respectivas.</span>
  <p class="mt-2">La obligación alimentaria a que se hace referencia en el primer párrafo comprende lo necesario para el sustento, habitación, vestido, educación, instrucción y capacitación para el trabajo, asistencia médica y psicológica, y recreación del niño o del adolescente y, del mismo modo, los gastos del embarazo de la madre desde la concepción hasta la etapa de postparto.</p>
  <p class="mt-2">La decisión del juez respecto de la obligación alimentaria comprende la asignación anticipada de alimentos durante la investigación fiscal, así como la fijación de la obligación de prestar alimentos inclusive antes de la sentencia atendiendo al material probatorio disponible.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto de 2018.</p>
</ArticleBlock>
