---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Perturbación o impedimento de proceso electoral"
  id="articulo-354"
  label="Artículo 354.-"
>
  <span slot="lead">
    El que, con violencia o amenaza, perturba o impide que se desarrolle un proceso electoral general, parlamentario, regional o municipal, o los procesos de revocatoria o referéndum será reprimido con pena privativa de libertad no menor de tres ni mayor de diez años.
  </span>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley Nº 29287, publicada el 6 de diciembre de 2008.</p>
</ArticleBlock>
