---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Nombramiento, designación, contratación, encargatura o aceptación ilegal de cargo"
  id="articulo-381"
  label="Artículo 381.-"
>
  <span slot="lead">
    El funcionario público que nombra, designa, contrata o encarga a persona en quien no concurren los requisitos legales para un cargo público, será reprimido con pena privativa de libertad no menor de dos ni mayor de cuatro años y con sesenta a ciento veinte días-multa.
  </span>
  <p class="mt-2">
    El que acepta el cargo sin contar con los requisitos legales será reprimido con las mismas penas.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley N° 31676, publicada el 27 de enero de 2023.</p>
</ArticleBlock>
