---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Formas culposas"
  id="articulo-278"
  label="Artículo 278.-"
>
  <span slot="lead">
    El que, por culpa, ocasiona un desastre de los previstos en los artículos <a href="#articulo-273">273</a>, <a href="#articulo-275">275</a> y <a href="#articulo-276">276</a>, será reprimido con pena privativa de libertad no menor de uno ni mayor de tres años.
  </span>
</ArticleBlock>
