---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Medidas de seguridad. Clases"
  id="articulo-71"
  label="Artículo 71.-"
>
  <span slot="lead">Las medidas de seguridad que establece este Código son:</span>
  <ol class="mt-2 ml-6 list-decimal space-y-1">
    <li>Internación; y</li>
    <li>Tratamiento ambulatorio.</li>
  </ol>
</ArticleBlock>
