---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Error de comprensión culturalmente condicionado"
  id="articulo-15"
  label="Artículo 15.-">
  <span slot="lead">El que por su cultura o costumbres comete un hecho punible sin poder comprender el carácter delictuoso de su acto o determinarse de acuerdo con esa comprensión, será eximido de responsabilidad. Cuando por igual razón, esa posibilidad se halla disminuida, se atenuará la pena.</span>
  <p class="mt-2">“Lo dispuesto en el primer párrafo será aplicable siguiendo los lineamientos para procesos penales interculturales señalados por la judicatura para los casos de la comisión de los delitos previstos en los capítulos IX, X y XI del Título IV del Libro Segundo cometidos en perjuicio de menores de catorce años y de mayores de catorce años cuando estos no hayan prestado su libre consentimiento.” (*) Artículo modificado por el artículo 1 de la Ley N° 30838, publicada el 4 de agosto 2018.</p>
</ArticleBlock>
