---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Violación de domicilio"
  id="articulo-159"
  label="Artículo 159.-"
>
  <span slot="lead">El que, sin derecho, penetra en morada o casa de negocio ajena, en su dependencia o en el recinto habitado por otro o el que permanece allí rehusando la intimación que le haga quien tenga derecho a formularla, será reprimido con pena privativa de libertad no mayor de dos años y con treinta a noventa días-multa.</span>
</ArticleBlock>
