---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Fabricación, comercialización, uso o porte de armas"
  id="articulo-279-g"
  label="Artículo 279-G.-"
>
  <span slot="lead">
    El que, sin estar debidamente autorizado, fabrica, ensambla, modifica, almacena, suministra, comercializa, trafica, usa, porta o tiene en su poder, armas de fuego de cualquier tipo, municiones, accesorios o materiales destinados para su fabricación o modificación, será reprimido con pena privativa de libertad no menor de ocho ni mayor de doce años.
  </span>
  <p class="mt-2">
    Será sancionado con la misma pena el que presta, alquila o facilita, siempre que se evidencie la posibilidad de su uso para fines ilícitos, las armas o bienes a los que se hacen referencia en el primer párrafo. La pena privativa de libertad será no menor de diez ni mayor de quince años cuando las armas o bienes, dados en préstamo o alquiler, sean de propiedad del Estado.
  </p>
  <p class="mt-2">
    En cualquier supuesto, si el agente es miembro de las Fuerzas Armadas, Policía Nacional del Perú, en actividad o en retiro, o del Instituto Nacional Penitenciario la pena será no menor de doce ni mayor de veinte años.
  </p>
  <p class="mt-2">
    El que trafica armas de fuego artesanales o materiales destinados para su fabricación, será reprimido con pena privativa de libertad no menor de seis ni mayor de quince años.
  </p>
  <p class="mt-2">
    Si el agente actúa en calidad de integrante de una organización criminal o banda criminal será reprimido con una pena privativa de libertad no menor de quince ni mayor a veinte años y con setecientos treinta y cinco a mil días-multa.
  </p>
  <p class="mt-2">
    Para todos los supuestos se impondrá la inhabilitación conforme a los incisos 1), 2), 4) y 6) del artículo <a href="#articulo-36">36</a> del Código Penal, y adicionalmente el inciso 8) si es miembro de las Fuerzas Armadas o Policía Nacional del Perú, y con ciento ochenta a trescientos sesenta y cinco días - multa.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo 2 del Decreto Legislativo N° 1616, publicado el 21 de diciembre de 2023.</p>
</ArticleBlock>
