---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Autoaborto"
  id="articulo-114"
  label="Artículo 114.-"
>
  <span slot="lead">La mujer que causa su aborto, o consiente que otro le practique, será reprimida con pena privativa de libertad no mayor de dos años o con prestación de servicio comunitario de cincuentidós a ciento cuatro jornadas.</span>
</ArticleBlock>
