---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Maltrato"
  id="articulo-442"
  label="Artículo 442.-"
>
  <span slot="lead">
    El que maltrata a otro física o psicológicamente, o lo humilla, denigra o menosprecia de modo reiterado, sin causarle lesión o daño psicológico, será reprimido con prestación de servicio comunitario de cincuenta a ochenta jornadas.
  </span>
  <p class="mt-2">
    La pena será de prestación de servicio comunitario de ochenta a cien jornadas o de cien a doscientos días-multa, cuando:
  </p>
  <p class="mt-2">a. La víctima es menor de edad o adulta mayor, tiene una discapacidad o se encuentra en estado de gestación.</p>
  <p class="mt-2">b. La víctima es cónyuge; excónyuge; conviviente; exconviviente; padrastro; madrastra; ascendiente o descendiente por consanguinidad, adopción o afinidad; pariente colateral del cónyuge y conviviente hasta el cuarto grado de consanguinidad y segundo de afinidad; habita en el mismo hogar, siempre que no medien relaciones contractuales o laborales; o es con quien se ha procreado hijos en común, independientemente de que se conviva o no al momento de producirse los actos de violencia, o la violencia se da en cualquiera de los contextos de los numerales 1, 2 y 3 del primer párrafo del artículo <a href="#articulo-108-B">108-B</a>.</p>
  <p class="mt-2">c. Si la víctima tiene un contrato de locación de servicios, una relación laboral o presta servicios como trabajador del hogar, o tiene un vínculo con el agente de dependencia, de autoridad o vigilancia en un hospital, asilo u otro establecimiento similar donde la víctima se halle detenida o recluida o interna, asimismo si es dependiente o está subordinada de cualquier forma al agente o, por su condición, el agente abusa de su profesión, ciencia u oficio, o se aprovecha de cualquier posición, cargo o responsabilidad que le confiera el deber de vigilancia, custodia o particular autoridad sobre la víctima o la impulsa a depositar en él su confianza o si la víctima se encontraba bajo el cuidado o responsabilidad del agente.</p>
  <p class="mt-2">d. Si la víctima es integrante de la Policía Nacional del Perú o de las Fuerzas Armadas, magistrado del Poder Judicial o del Ministerio Público, magistrado del Tribunal Constitucional, autoridad elegida por mandato popular o servidor civil, y es lesionada en ejercicio de sus funciones o a consecuencia de ellas.</p>
  <p class="mt-2">e. Si la víctima es mujer y es lesionada por su condición de tal en cualquiera de los contextos previstos en el primer párrafo del artículo <a href="#articulo-108-B">108-B</a>.</p>
  <p class="mt-2">f. Si, en el momento de cometerse el delito, estuviera presente cualquier niña, niño o adolescente.</p>
  <p class="mt-2">g. Si el agente actúa en estado de ebriedad, con presencia de alcohol en la sangre en proporción mayor de 0.25 gramos-litro, o bajo efecto de drogas tóxicas, estupefacientes, sustancias psicotrópicas o sintéticas.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 1 de la Ley N° 30819, publicada el 13 de julio de 2018.</p>
</ArticleBlock>
