---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ostentación de distintivos de función o cargos que no ejerce"
  id="articulo-362"
  label="Artículo 362.-"
>
  <span slot="lead">
    El que, públicamente, ostenta insignias o distintivos de una función o cargo que no ejerce o se arroga grado académico, título profesional u honores que no le corresponden, será reprimido con pena privativa de libertad no mayor de un año o con prestación de servicio comunitario de diez a veinte jornadas.
  </span>
</ArticleBlock>
