---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Instigación o ayuda al suicidio"
  id="articulo-113"
  label="Artículo 113.-"
>
  <span slot="lead">El que instiga a otro al suicidio o lo ayuda a cometerlo, será reprimido, si el suicidio se ha consumado o intentado, con pena privativa de libertad no menor de uno ni mayor de cuatro años.</span>
  <p class="mt-2">La pena será no menor de dos ni mayor de cinco años, si el agente actuó por un móvil egoísta.</p>
</ArticleBlock>
