---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Posesión ilegítima de dispositivos para adulterar, reemplazar, duplicar o modificar IMEI"
  id="articulo-222-D"
  label="Artículo 222-D.-"
>
  <span slot="lead">El que posea dispositivos, aparatos, herramientas, instrumentos o programas informáticos con la finalidad de ser utilizados en la adulteración, reemplazo, duplicación o modificación de IMEI lógico o físico de terminales móviles de comunicación, será reprimido con pena privativa de libertad no menor de cuatro años ni mayor de seis años e inhabilitación conforme al inciso 4 del artículo <a href="#articulo-36">36</a>.</span>
  <p class="mt-2">La misma pena se aplica al que, promueva, facilite o financie la obtención de los aparatos, herramientas, instrumentos o programas informáticos para la finalidad señalada en el primer párrafo.</p>
  <p class="mt-2">(*) Artículo incorporado por el Decreto Legislativo N° 1596, publicado el 17 de diciembre de 2023.</p>
</ArticleBlock>
