---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Ingreso indebido de armas, municiones o materiales explosivos, inflamables, asfixiantes o tóxicos en establecimientos penitenciarios"
  id="articulo-368-e"
  label="Artículo 368-E.-"
>
  <span slot="lead">
    El que indebidamente ingresa, intenta ingresar o permite el ingreso a un centro de detención o reclusión, un arma de fuego o arma blanca, municiones o materiales explosivos, inflamables, asfixiantes o tóxicos para uso del interno, será reprimido con pena privativa de libertad no menor de ocho ni mayor de quince años.
  </span>
  <p class="mt-2">
    Si el agente se vale de un menor de edad o de su condición de autoridad, abogado defensor, servidor o funcionario público para cometer o permitir que se cometa el hecho punible descrito, la pena privativa será no menor de diez ni mayor de veinte años e inhabilitación, conforme al artículo <a href="#articulo-36">36</a>, incisos 1 y 2, del presente Código.
  </p>
  <p class="mt-2">(*) Artículo incorporado por el artículo único de la Ley Nº 29867, publicada el 22 de mayo de 2012.</p>
</ArticleBlock>
