---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  id="articulo-374"
  label="Artículo 374.-"
>
  <span slot="lead">(*) Artículo derogado por el artículo único de la Ley N° 27975, publicada el 29 de mayo de 2003.</span>
</ArticleBlock>
