---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Omisión de socorro y exposición a peligro"
  id="articulo-126"
  label="Artículo 126.-"
>
  <span slot="lead">El que omite prestar socorro a una persona que ha herido o incapacitado, poniendo en peligro su vida o su salud, será reprimido con pena privativa de libertad no mayor de tres años.</span>
</ArticleBlock>
