---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Financiamiento por medio de información fraudulenta"
  id="articulo-247"
  label="Artículo 247.-"
>
  <span slot="lead">El usuario de una institución bancaria, financiera u otra que opera con fondos del público, o de una cooperativa de ahorro y crédito que solo opera con sus socios y que no está autorizada a captar recursos del público u operar con terceros, inscrita en el Registro Nacional de Cooperativas de Ahorro y Crédito No Autorizadas a Captar Recursos del Público, que, proporcionando información o documentación falsas o mediante engaños obtiene créditos directos o indirectos u otro tipo de financiación, será reprimido con pena privativa de libertad no menor de uno ni mayor de cuatro años y con ciento ochenta a trescientos sesenticinco días-multa.</span>
  <p class="mt-2">Si como consecuencia del crédito así obtenido, la Superintendencia de Banca, Seguros y AFP resuelve la intervención o liquidación de la institución bancaria, financiera o de la cooperativa de ahorro y crédito que solo opera con sus socios y que no está autorizada a captar recursos del público u operar con terceros, inscrita en el Registro Nacional de Cooperativas de Ahorro y Crédito No Autorizadas a Captar Recursos del Público, es reprimido con pena privativa de libertad no menor de cuatro ni mayor de diez años y con trescientos sesenticinco a setecientos treinta días-multa.</p>
  <p class="mt-2">Los accionistas, asociados, directores, gerentes y funcionarios de la institución que cooperen en la ejecución del delito, serán reprimidos con la misma pena señalada en el párrafo anterior y, además, con inhabilitación conforme al artículo <a href="#articulo-36">36</a>, incisos 1, 2 y 4.</p>
  <p class="mt-2">(*) Artículo modificado por el artículo 13 de la Ley N° 30822, publicada el 19 de julio de 2018.</p>
</ArticleBlock>
