---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Apología"
  id="articulo-316"
  label="Artículo 316.-"
>
  <span slot="lead">
    El que públicamente exalta, justifica o enaltece un delito o a la persona condenada por sentencia firme como autor o partícipe, será reprimido con pena privativa de libertad no menor de un año ni mayor de cuatro años.
  </span>
  <p class="mt-2">
    Si la exaltación, justificación o enaltecimiento se hace de delito previsto en los artículos 152 al 153-A, 200, 273 al 279-D, 296 al 298, 315, 317, 318-A, 325 al 333, 346 al 350 o de los delitos de lavado de activos, o de la persona que haya sido condenada por sentencia firme como autor o partícipe, la pena será no menor de cuatro años ni mayor de seis años, doscientos cincuenta días multa, e inhabilitación conforme a los incisos 2, 4 y 8 del artículo 36 del Código Penal.
  </p>
  <p class="mt-2">(*) Artículo modificado por el artículo único de la Ley N° 30610, publicada el 19 de julio de 2017.</p>
</ArticleBlock>
