---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Formas culposas"
  id="articulo-278"
  label="Artículo 278.-"
>
  <span slot="lead">
    El que, por culpa, ocasiona un desastre de los previstos en los artículos 273, 275 y 276, será reprimido con pena privativa de libertad no menor de uno ni mayor de tres años.
  </span>
</ArticleBlock>
