---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Transmisión de la reparación civil a herederos"
  id="articulo-96"
  label="Artículo 96.-"
>
  <span slot="lead">La obligación de la reparación civil fijada en la sentencia se transmite a los herederos del responsable hasta donde alcancen los bienes de la herencia.</span>
  <p class="mt-2">El derecho a exigir la reparación civil se transfiere a los herederos del agraviado.</p>
</ArticleBlock>
