---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Supresión, destrucción u ocultamiento de documentos"
  id="articulo-430"
  label="Artículo 430.-"
>
  <span slot="lead">
    El que suprime, destruye u oculta un documento, en todo o en parte de modo que pueda resultar perjuicio para otro, será reprimido con la pena señalada en los artículos 427 y 428, según sea el caso.
  </span>
</ArticleBlock>
