---
import ArticleBlock from "../ArticleBlock.astro";
---
<ArticleBlock
  heading="Responsabilidad de funcionario público por otorgamiento ilegal de derechos"
  id="articulo-314"
  label="Artículo 314.-"
>
  <span slot="lead">
    El funcionario público que sin observar leyes, reglamentos, estándares ambientales vigentes, por haber faltado gravemente a sus obligaciones funcionales, autoriza el otorgamiento, renovación o cancelación de autorización, licencia, concesión, permiso u otro derecho habilitante en favor de la obra o actividad a que se refiere el presente Título, será reprimido con pena privativa de libertad no menor de cuatro años ni mayor de siete años, e inhabilitación de un año a siete años conforme al artículo <a href="#articulo-36">36</a> incisos 1, 2 y 4.
  </span>
  <p class="mt-2">
    El servidor público que sin observar leyes, reglamentos, estándares ambientales vigentes se pronuncia favorablemente en informes u otro documento de gestión sobre el otorgamiento, renovación o cancelación de autorización, licencia, concesión, permiso u otro derecho habilitante en favor de la obra o actividad a que se refiere el presente Título, será reprimido con pena privativa de libertad no menor de cuatro años ni mayor de siete años, e inhabilitación de un año a siete años conforme al artículo <a href="#articulo-36">36</a> incisos 1, 2 y 4.
  </p>
  <p class="mt-2">
    La misma pena será para el funcionario público competente para combatir las conductas descritas en el presente Título y que, por negligencia inexcusable o por haber faltado gravemente a sus obligaciones funcionales, facilite la comisión de los delitos previstos en el presente Título.
  </p>
  <p class="mt-2">
    (*) Artículo modificado por el artículo único del Decreto Legislativo N° 1237, publicado el 26 de setiembre de 2015.
  </p>
</ArticleBlock>
